h1 {color: #339933; text-align: center; font-weight: bold; font-size:18px;}
h2 {color: #339933; text-align: center; font-weight: bold; font-size:16px;}
.price {color: #339933; text-align: center; font-weight: bold; font-size:14px;}
.text {text-align:justify;}
.text2 {text-align:justify; width:698px; padding: 0 5px 0 0px; font-size:12px; color: #8B7E66; font-family: Verdana;}
.text3 {text-align:left;  padding: 0 0 0 3px; font-size:12px; color: #8B7E66; font-family: Verdana;}
.email {font-size: 14px;}
.under {text-decoration: underline;}
.imgprice {text-align: center; padding: 10px 0 5px 0; }
.welcome {
  background:  url("/images/welcome_02.png") no-repeat; 
  position: absolute;
  width: 980px;
  height: 47px;
  top: 148px;
}

#body-bg {
  background: url("/images/shapka.png") repeat-x scroll center top transparent;
}
.content {}
.dop-content {margin: 20px 0 0 0; float: right;}
.dop-content2 {margin: 0px 0 0 0; float: right; width: 706px;}
.dop-content2 img {border:2px solid #FFFFD6;}
.dop-content3 {margin: 10px 0 0 40px; float: left;}
.dop-content4 {margin: 0px 0 0 0; float: right; width: 706px;}
.dop-content4 a:hover {color:#ff0000;}
.ui-content { 
  background: url("/images/tabs_03.png") repeat scroll 0 0 transparent; 
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #DDDDDD;
  padding: 1em 2.2em;
  font-size: 1.1em;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  color: #333333;
}
.kofmenu {margin: 0px 0 0 0; float: right; width: 655px;}
.td-dop {
  background:  url("/images/dop_border.png") no-repeat; 
  width: 236px;
  height: 128px;
  padding: 3px;
}



.td-empty {width:75px; padding: 10px;}
.td-dop a {color:;}
.td-dop_02 {
  background:  url("/images/dop_border.png") no-repeat top center; 
  width: 219px;
  height: 128px;
  padding: 3px;
  text-align:center;
}
.td-dop_03 {
  background:  url("/images/dop_border.png") no-repeat top right; 
  width: 219px;
  height: 128px;
  padding: 3px;
  text-align:right;
}
.tr-dop {width:730px;}
.table-dop {
  width:706px;
}
.td_kofejni {vertical-align:top; padding:0 10px 0 0; margin: 0; text-align:left; width:;}
.td_kofejni img {border: 2px solid #fff;}
.p_kof {text-decoration: none; font-weight: bold;}

#cssmenu .active {
  background:  url("/images/overlay.png") repeat-x scroll 0 -40px #8B5A2B; 
  color: #444 !important;
  border-top: solid 0px #f8f8f8; 
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2); 
  -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2); 
  box-shadow: 0 1px 1px rgba(0,0,0, .2); 
  text-shadow: 0 1px 0 rgba(255,255,255, 1) !important; 
}

#mymenu .active {
  background:  url("/images/menu_g_01.png") no-repeat scroll 0 0; 
  color: #fff !important;

  text-shadow: 0 1px 0 #777 !important; 
}
#mymenu .active b {
  background:  url("/images/menu_g_04.png") no-repeat scroll right top; 
  color: #fff !important;
  text-shadow: 0 1px 0 #777 !important; 
  height: 31px;
  padding:0 15px 0px 5px; 
  float: left;
}

#mymenu ul {
  margin: 0; 
  padding: 7px 0px 0; 
  line-height: 100%; 
  border-radius: 1em; 
  font: normal .8em/1.5em Arial, Helvetica, sans-serif; 
  border-radius: 5px; 
}
#mymenu li {
  margin: 0px; 
  padding: 0 0 8px; 
  float: left; 
  position: relative; 
  list-style: none; 
}

#mymenu a {
  background:  url("/images/menu_b_01.png") no-repeat scroll 0 0; 
  font-size: 14px;
  color: #fff; 
  text-decoration: none; 
  display: block;
  height: 31px;
  padding:  0 0 0 13px; 
  float: left;
  text-align: center;
  line-height: 30px;
}

#mymenu a b {
  background:  url("/images/menu_b_04.png") no-repeat scroll right top; 
  color: #fff; 
  text-decoration: none; 
  display: block;
  height: 31px;
  padding:0 15px 0px 5px; 
  float: left;

}

#mymenu a:hover {
  background:  url("/images/menu_g_01.png") no-repeat scroll 0 0; 

}

#mymenu b:hover {
  background:  url("/images/menu_g_04.png") no-repeat scroll right top; 
  color: #fff;
 
  height: 31px;
  padding:0 15px 0px 5px; 
  float: left;

}
#mymenu li.active a {background: #000; color: #e7e5e5;}


#mymenu {float: right; margin: 94px 0 0 0;}


.container {
  width: 980px;
  background: url("/images/poloska.jpg") repeat-y scroll 29px top transparent;
}

body {
  background: url("/images/pattern_04.jpg") repeat scroll transparent; 
}

header {
  padding-top: 0px;
  width: 980px;
  margin:0 auto;
  background: url("/images/poloska.jpg") repeat-y scroll 29px 25px transparent;
 }

.bg {
  width: 100%;
}

header img {

}

#left {
  float: left;
  min-width: 235px;
  text-align: center;
  padding:50px 0 0 0;
  min-height: 500px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  width: 500px;
  float: right;

}

section h1 {
  font-size: 200%;
}

/* Links */



				/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;

}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

				/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

				/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background: #ffffec;
}

				/* Round corners */

footer {
  background: url("/images/poloska.jpg") repeat-y scroll 29px top transparent;
  text-align: center;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  height:150px;
}

footer nav {
  float: none;
}

				/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}
				/* Fields */
div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

				/* Users */
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

                                /* Microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}


#cssmenu ul {
  margin: 0; 
  padding: 7px 6px 0; 
  background: url("/images/overlay.png") repeat-x scroll 0 -110px #7D7D7D; 
  line-height: 100%; 
  border-radius: 1em; 
  font: normal .8em/1.5em Arial, Helvetica, sans-serif; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4); 
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);}
#cssmenu li {
  margin: 0 5px; 
  padding: 0 0 8px; 
  float: left; 
  position: relative; 
  list-style: none; 
}
#cssmenu a {
  font-weight: bold; 
  font-size: 14px;
  color: #e7e5e5; 
  text-decoration: none; 
  display: block; 
  padding:  8px 20px; 
  margin: 0; 
  border-radius: 5px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;  
  text-shadow: 0 1px 1px rgba(0,0,0, .3); 
}


#cssmenu a:hover {background: #000; color: #fff;}
#cssmenu .active a, #cssmenu li:hover > a {
  background:  url("/images/overlay.png") repeat-x scroll 0 -40px #666666; 
  color: #444; 
  border-top: solid 0px #f8f8f8; 
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2); 
  -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2); 
  box-shadow: 0 1px 1px rgba(0,0,0, .2); 
  text-shadow: 0 1px 0 rgba(255,255,255, 1); 
}
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {
  background: none; 
  border: none; 
  color: #666; 
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
}
#cssmenu ul ul a:hover {
  background: #8f8f8f url("/images/overlay.png") repeat-x 0 -100px !important; 
  color: #fff !important; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  text-shadow: 0 1px 1px rgba(0,0,0, .1);
}
#cssmenu li:hover > ul {display: block;}
#cssmenu ul ul {
  display: none; 
  margin: 0; 
  padding: 0; 
  width: 185px; 
  position: absolute; 
  top: 40px; 
  left: 0; 
  background: #ddd url("/images/overlay.png") repeat-x 0 0; 
  border: solid 1px #b4b4b4; -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; border-radius: 5px; 
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3); 
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3); 
  box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#cssmenu ul ul li {float: none; margin: 0; padding: 3px; }
#cssmenu ul ul a {font-weight: normal; text-shadow: 0 1px 0 #fff; }
#cssmenu ul:after {
  content: '.'; 
  display: block; 
  clear: both; 
  visibility: hidden; 
  line-height: 0; 
  height: 0;
}
* html #cssmenu  ul {height: 1%;}

#cssmenu {float: right; margin: 75px 0 0 0;}


user_show_sidebar_css
