* {
  margin: 0;
  padding: 0
  }

li#for_vending {background: none; border: none; padding: 10px 0;}
.vending_content {
  margin-bottom: 50px;
}

#vending_img {
  margin-bottom: 20px;
  overflow: hidden;
}

#vending_img img {
  border: none;
  box-shadow: none;
  float: right;
}

#vending_img img:last-child {
  margin-right: 30px;
}

#vending_img .text2 {
  float: left;
  width: 400px;
}

.after-tabs {
  font-size: 18px;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}


.vending_table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  background: #fff;
}

.vending_table thead th {
  background: #d2c5b4;
}
.vending_table thead th:nth-child(2n) {background: #bcae9d;}
.vending_table thead th:nth-child(3n) {background: #ab9f96;}

.vending_table td, th {
  text-align: center;
  padding: 10px 0;
  border-color: #ddd;
}

.vending_table td:first-child, th:first-child {
  text-align: left !important;
  padding-left: 15px;
  max-width: 150px;
}

.entry {display: none;}
.post {
  padding: 0;
  position: relative;
  background: none;
  margin-bottom: 20px;
  border: none;
  }
.inactive {
  color: #333;
  }

.entry img {float: left; margin: 0 15px 0 0;}
.title img {float: left; margin: 0 15px 0 0;}
.title h3 {
  text-decoration: underline;
/*  border-bottom: 1px dashed #7b5841;*/
}

.news_block {
  height: 160px;
  margin-bottom: 15px;
  display: table;
}

.big {
  height: 260px;
}

.post .title {
  position: relative;


  }

.inactive .title h3 a {
  color: #bbb;
  }
.title p {
  font-size: 12px;
  font-style: normal;
  margin: 0;
  }
.post .title span {
  position: absolute;
  right: 0;
  top: 100%;
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: url("/images/trigger.gif") no-repeat left bottom;
  display: block;
  font-size: 0;
  }
#content {width: 700px;}
#content .inactive .title span {
  background-position: left top;
  }
#content .post .entry {
  padding: 10px 0;
  }

.dop-content h1 {text-align: left; padding-bottom: 5px;}
h1 {color: #339933; text-align: center; font-weight: bold; font-size:18px;}
h2 {color: #339933; text-align: center; font-weight: bold; font-size:16px;}
h3 {
  text-align: left;
  font-size:18px;
  color: #7b5841;
  font-family: arial;
  margin: 0;
  padding-bottom: 10px;
  font-weight: bold;
}

.vk span {background:  url("/images/vkontakte_g.png") no-repeat; padding: 21px 0 0 33px;}
.vk span:hover {background:  url("/images/vkontakte_b.png") no-repeat; }
.fb span {background:  url("/images/facebook_g.png") no-repeat; padding: 21px 0 0 33px; }
.fb span:hover {background:  url("/images/facebook_b.png") no-repeat; }
.tw span {background:  url("/images/twitter_g.png") no-repeat; padding: 21px 0 0 33px; margin: 0 14px;}
.tw span:hover {background:  url("/images/twitter_b.png") no-repeat; }
td.zaglushka {width:14px;}
p.news_date {color:#999; font-size:12px; font-style: normal; font-weight: normal;}
.news .highslide img {border: 1px solid #fff !important;}
.news .highslide img:hover {border: 1px solid #7b5841 !important;}
.shet4ik {padding: 20px 0 0; margin: 50px 0 0; border-top: 1px dashed #8B7E66;}
.shet4ik img {border: none !important; box-shadow: none !important;}
.price {color: #339933; text-align: center; font-weight: bold; font-size:14px;}
.pricekofe {
  margin: 20px 0; 
  display: block; text-decoration: underline; 
  text-align: left; font-weight: bold; 
}

.text {text-align:justify;}
.text_span {font-weight:bold;}
.text-right {float: right; text-align: left; width: 450px;}
.text-right p {font-size: 14px; line-height: 18px; color: #333;}
.text-right ul{margin:10px 0 0; font-size: 14px; list-style: none; padding:0;}
.text2 {
  text-align:justify;
  width:698px;
  padding: 0 5px 0 0px;
  font-size:14px;
  font-weight: bold;
  color: #5C3D27;
  font-family: Arial;}
.article_footer {
  border-top: 2px solid #D2C5B4;
  color: #339933;
  font-weight: bold;
  padding: 10px 0 0 0px;
  margin-top: 25px;
  overflow: hidden;
}
.article_footer .pull-right {
  text-align: right;
}
.text3 {text-align:left;  padding: 0 0 0 3px; font-size:12px; color: #8B7E66; font-family: Verdana;}
.email {font-size: 14px;}
.under {text-decoration: underline;}
.imgprice {text-align: center; padding: 10px 0 5px 0; }
.welcome {
  background:  url("/images/welcome_02.png") no-repeat;
  position: absolute;
  width: 980px;
  height: 47px;
  top: 148px;
}
.img-right {text-align:; margin-bottom:15px;}
#body-bg {
  background: url("/images/shapka.png") repeat-x scroll center top transparent;
}
.content {}
.dop-content {margin: 20px 0 0 0; float: right;}
.dop-content img {
  border:1px solid #FFF;
  box-shadow: 0 0 2px #888888;
}
.dop-content2 {margin: 0px 0 0 0; float: right; width: 706px;}
.dop-content2 #tabs a {}

.dop-content2.vending p { 
  text-align: center; margin-bottom: 10px;
  font-weight: bold; font-size: 18px; 
}

.dop-content2.vending .text {
  margin-top: 10px;
}

.dop-content2.vending .text b {
  text-decoration: underline;
  display: block;
  margin-bottom: 5px;
}

.dop-content2.vending .text strong {
  font-size: 16px;
}

.dop-content2.vending .text p { 
  text-align: left; margin-bottom: 0; 
  font-size: 14px; font-weight: normal;
}

#kofe .dop-content2 img { border: none;}
#kofe .dop-content2 a img {border: 1px solid #FFFFFF; }
.dop-content2 img {
   box-shadow: 0 0 1px #888888;
  -webkit-box-shadow: 0 0 1px #888888;
  -o-box-shadow: 0 0 1px #888888;
  -moz-box-shadow: 0 0 1px #888888;
  -khtml-box-shadow: 0 0 1px #888888;
  border: 1px solid #FFFFFF;
}
.dop-content2 a.highslide > img {width: 148px; height: 125px;}
.dop-content3 {margin: 10px 0 0 40px; float: left; width: 700px;}
.dop-content4 {margin: 0px 0 0 0; float: right; width: 706px;}
.dop-content4 a:hover {color:#ff0000;}



.ui-content {
  background: url("/images/tabs_03.png") repeat scroll 0 0 transparent;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #DDDDDD;
  padding: 1em 2.2em;
  font-size: 1.1em;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  color: #333333;
}

.ui-content aside {
  overflow: hidden;
}
.ui-content aside div {
  float: left;
}
.ui-content aside div:first-child {
  margin-right: 25px;
}

.kofmenu {margin: 0px 0 0 0; float: right; width: 655px; text-align: right;}
.kofmenu img {width: 90px;}
.td-dop {
  background:  url("/images/dop_border.png") no-repeat;
  width: 236px;
  height: 128px;
  padding: 3px;
}

.td-empty {width:75px; padding: 10px;}
.td-dop a {color:;}
.td-dop_02 {
  background:  url("/images/dop_border.png") no-repeat top center;
  width: 219px;
  height: 128px;
  padding: 3px;
  text-align:center;
}
.td-dop_03 {
  background:  url("/images/dop_border.png") no-repeat top right;
  width: 219px;
  height: 128px;
  padding: 3px;
  text-align:right;
}
.tr-dop {width:730px;}
.table-dop {
  width:706px;
}
.td_kofejni {vertical-align:top; padding:0 10px 0 0; margin: 0; text-align:left; width:;}
.td_kofejni a {text-decoration: underline !important;}
.td_kofejni img {border: 2px solid #fff;}
.td_kofejni span {color: #00B800;}
.p_kof {text-decoration: none; font-weight: bold;}

#cssmenu .active {
  background:  url("/images/overlay.png") repeat-x scroll 0 -40px #8B5A2B;
  color: #444 !important;
  border-top: solid 0px #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
  box-shadow: 0 1px 1px rgba(0,0,0, .2);
  text-shadow: 0 1px 0 rgba(255,255,255, 1) !important;
}

#mymenu .active {
  background:  url("/images/menu_g_01.png") no-repeat scroll 0 0;
  color: #fff !important;

  text-shadow: 0 1px 0 #777 !important;
}
#mymenu .active b {
  background:  url("/images/menu_g_04.png") no-repeat scroll right top;
  color: #fff !important;
  text-shadow: 0 1px 0 #777 !important;
  height: 31px;
  padding:0 15px 0px 5px;
  float: left;
}

#mymenu ul {
  margin: 0;
  clear: both;
  padding: 7px 0px 0;
  line-height: 100%;
  border-radius: 1em;
  font: normal .8em/1.5em Arial, Helvetica, sans-serif;
  border-radius: 5px;
}
#mymenu li {
  margin: 0px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
}

#mymenu a {
  background:  url("/images/menu_b_01.png") no-repeat scroll 0 0;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: block;
  height: 31px;
  padding:  0 0 0 13px;
  float: left;
  text-align: center;
  line-height: 30px;
}

#mymenu a b {
  background:  url("/images/menu_b_04.png") no-repeat scroll right top;
  color: #fff;
  text-decoration: none;
  display: block;
  height: 31px;
  padding:0 15px 0px 5px;
  float: left;

}

#mymenu a:hover {
  background:  url("/images/menu_g_01.png") no-repeat scroll 0 0;

}
#mymenu a:hover b {
  background:  url("/images/menu_g_04.png") no-repeat scroll right top;
}
#mymenu b:hover {
  background:  url("/images/menu_g_04.png") no-repeat scroll right top;
  color: #fff;

  height: 31px;
  padding:0 15px 0px 5px;
  float: left;

}
#mymenu li.active a {background: #000; color: #e7e5e5;}


#mymenu { overflow: hidden; margin: 0; float: right;}


.container {
  width: 980px;
  background: url("/images/poloska.jpg") repeat-y scroll 29px top transparent;
}

.container a img {
  border: 1px solid white;
  box-shadow: 0 0 2px #888;
  -moz-box-shadow: 0 0 2px #888;
  -o-box-shadow: 0 0 2px #888;
}

body {
  background: url("/images/pattern_04.jpg") repeat scroll transparent;
}

header {
  padding-top: 0px;
  width: 980px;
  margin:0 auto;
  overflow: hidden;
  background: url("/images/poloska.jpg") repeat-y scroll 29px 25px transparent;
 }

header #logo {
  float: left;
}

header .telefon {
  text-align: right;
  float: right;
  background: rgba(255, 255, 255, 0.8);
  margin: 18px 0 18px 0;
  border-radius: 4px;
  padding: 10px;
  color: #7b5841;
  font-weight: bold;
}
header .telefon span {
  display: block;
}
.bg {
  width: 100%;
}

header img {

}

#left {
  float: left;
  min-width: 235px;
  text-align: center;
  padding:50px 0 0 0;
  min-height: 500px;
}

#left a {
  color: #339933;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;

}

#left a div {
  background: url("/images/akcii.png") no-repeat center;
  height: 51px;
  padding-top: 12px;  
}

#left a div span {
  display: block;
  color: #9F4900;
}

.green_coffee {
  padding-top: 16px !important;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  width: 500px;
  float: right;

}

section h1 {
  font-size: 200%;
}

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;

}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

				/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

				/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background: #ffffec;
}

				/* Round corners */

footer {
  background: url("/images/poloska.jpg") repeat-y scroll 29px top transparent;
  text-align: center;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  height:25px;
}

footer nav {
  float: none;
}

				/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}
				/* Fields */
div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

				/* Users */
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

                                /* Microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}


#cssmenu ul {
  margin: 0;
  padding: 7px 6px 0;
  background: url("/images/overlay.png") repeat-x scroll 0 -110px #7D7D7D;
  line-height: 100%;
  border-radius: 1em;
  font: normal .8em/1.5em Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);}
#cssmenu li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
}
#cssmenu a {
  font-weight: bold;
  font-size: 14px;
  color: #e7e5e5;
  text-decoration: none;
  display: block;
  padding:  8px 20px;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0,0,0, .3);
}


#cssmenu a:hover {background: #000; color: #fff;}
#cssmenu .active a, #cssmenu li:hover > a {
  background:  url("/images/overlay.png") repeat-x scroll 0 -40px #666666;
  color: #444;
  border-top: solid 0px #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
  box-shadow: 0 1px 1px rgba(0,0,0, .2);
  text-shadow: 0 1px 0 rgba(255,255,255, 1);
}
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#cssmenu ul ul a:hover {
  background: #8f8f8f url("/images/overlay.png") repeat-x 0 -100px !important;
  color: #fff !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0,0,0, .1);
}
#cssmenu li:hover > ul {display: block;}
#cssmenu ul ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 40px;
  left: 0;
  background: #ddd url("/images/overlay.png") repeat-x 0 0;
  border: solid 1px #b4b4b4; -webkit-border-radius: 5px;
  -moz-border-radius: 5px; border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
  box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#cssmenu ul ul li {float: none; margin: 0; padding: 3px; }
#cssmenu ul ul a {font-weight: normal; text-shadow: 0 1px 0 #fff; }
#cssmenu ul:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
* html #cssmenu  ul {height: 1%;}

#cssmenu {float: right; margin: 75px 0 0 0;}


user_show_sidebar_css
