
<a href="images/menu/001.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/001.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/menu/002.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/002.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/menu/003.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/003.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/menu/004.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/004.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/menu/006.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/006.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/menu/007.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/007.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>