
<div class="dop-content2">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Жасминовый шар</a></li>
				<li><a href="#tabs-2">Клубника с клевером</a></li>
				<li><a href="#tabs-3">Пу Эр То Ча</a></li>
				<li><a href="#tabs-4">Пу Эр молочный</a></li>
				<li><a href="#tabs-5">1001 Night Tea</a></li>
				<li><a href="#tabs-6">Assam Harmutty</a></li>
				<li><a href="#tabs-7">Hawaii Cocktail</a></li>
				<li><a href="#tabs-8">EKATERINA THE GREAT</a></li>
				<li><a href="#tabs-9">Brasil Mate green Lemon</a></li>
				<li><a href="#tabs-10">Ceylon OP Pettiagalla</a></li>
				<li><a href="#tabs-11">Sencha Japanese KKH 5</a></li>
				<li><a href="#tabs-12">Earl Grey</a></li>
				<li><a href="#tabs-13">Japan Green Tea Genmaicha</a></li>
				<li><a href="#tabs-14">China Jasmine Monkey King</a></li>
				<li><a href="#tabs-15">Rooibos Fruit</a></li>
			</ul>
			<div id="tabs-1">
				<h2>Вязаный чай «Жасминовый шар»</h2>
				<p class="imgprice"><img src="images/tea/shar.jpg"/></p>
				<p class="price">Розничная цена за 50 гр 170 руб.</p>
				<br>
				<p class="text">
				Этот напиток подарит вам массу приятных мгновений - от самого начала заварива-ния до чаепития. Когда вы будете заваривать "Жасминовый шар", на ваших глазах из маленького шарика вырастет настоящая цветочная композиция. Каждый глоток чая "Жасминовый шар" будет преисполнен удовольствия и приятного аромата жасмина. 
				</P>
			</div>
            <div id="tabs-2">
				<h2>Юй Лун Тао "Клубника с клевером"</h2>
				<p class="imgprice"><img src="images/tea/klubnika.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 170 руб.</p>
				<br>
				<p class="text">
				Этот китайский чай соединил в себе вековые традиции чаепития. Им можно восхи-щаться, потому как его неповторимая красота и тонкий вкус в сочетании с мягким ароматом клубники подарит вам просто незабываемые моменты чайной церемонии. Этот чай готовится путем свертывания молодых нежных чайных листьев в форму шара. Внутри этого шара находится «Ченжихун» - ярко-розовый цветок клевера. 
				</P>
			</div>
			<div id="tabs-3">
				<h2>Пу Эр То Ча "Монетка"</h2>
				<p class="imgprice"><img src="images/tea/monetka.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 170 руб.</p>
				<br>
				<p class="text">
				Настоящие китайские чаи пу эр изготавливаются исключительно из верхних листьев взрослых чайных деревьев. Только такие китайские чаи пу эр могут быть признаны высокосортными. Китайский прессованный чай пу эр в виде монетки. Благодаря лечебному воздействию широко используется в китайской медицине. 
				</P>
			</div>
			<div id="tabs-4">
				<h2>Пу Эр молочный</h2>
				<p class="imgprice"><img src="images/tea/puer.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 170 руб.</p>
				<br>
				<p class="text">
				Ценители оригинальных видов чая считают, что китайский чай пу эр является одним из уникальных напитков, дарящих утонченный аромат и необычный букет вкусов. Китайские чаи пу эр получили свое название благодаря небольшому одноименному городку в Юннане. При заваривании этого чая получается темно-красный, не-прозрачный напиток с мягким молочным вкусом. 
				</P>
			</div>
			<div id="tabs-5">
				<h2>1001 NIGHT TEA 1001</h2>
				<p class="imgprice"><img src="images/tea/002.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 115 руб.</p>
				<br>
				<p class="text">
				1001 ночь. Смесь цейлонского черного и зеленого чая Сенча, лепестки розы, жасмина, подсолнечника, календулы. 
				</P>
			</div>
			<div id="tabs-6">
				<h2>ASSAM HARMUTTY</h2>
				<p class="imgprice"><img src="images/tea/003.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 135 руб.</p>
				<br>
				<p class="text">
				Ассам, черный. Черный плантационный чай с высочайшей горы Цейлона – "Адамс Пик", провинция Димбула. Имеет темный жилистый лист, терпкий и крепкий настой, пряный вкус. 
				</P>
			</div>
			<div id="tabs-7">
				<h2>HAWAII COCKTAIL</h2>
				<p class="imgprice"><img src="images/tea/006.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 135 руб.</p>
				<br>
				<p class="text">
				Гавайский коктейль. Южноафриканский гибискус, плоды шиповника, ананас, папайя, изюм, корочки апельсина. 
				</P>
			</div>
			<div id="tabs-8">
				<h2>EKATERINA THE GREAT</h2>
				<p class="imgprice"><img src="images/tea/008.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 115 руб.</p>
				<br>
				<p class="text">
				Екатерина Великая. Отборный цейлонский чай с добавлением лепестков розы и гибискуса, листиков и ягод клубники и ежевики. 
				</P>
			</div>
			<div id="tabs-9">
				<h2>BRASIL MATE GREEN LEMON</h2>
				<p class="imgprice"><img src="images/tea/013.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 115 руб.</p>
				<br>
				<p class="text">
				Зеленый мате из Бразилии, ароматизированный натуральными маслами лимонника, цедрой лимона.   
				</P>
			</div>
			<div id="tabs-10">
				<h2>CEYLON OP PETTIAGALLA</h2>
				<p class="imgprice"><img src="images/tea/011.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 150 руб.</p>
				<br>
				<p class="text">
				Петтиагалла, черный. Черный плантационный чай с высочайшей горы Цейлона – "Адамс Пик", провинция Димбула. Имеет темный жилистый лист, терпкий и крепкий настой, пряный вкус. 
				</P>
			</div>
			<div id="tabs-11">
				<h2>SENCHA JAPANESE KKH</h2>
				<p class="imgprice"><img src="images/tea/013.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 150 руб.</p>
				<br>
				<p class="text">
				Сенча, зеленый. Качественный классический китайский зеленый чай, при заварке имеет яркий желтый цвет, очень освежающий вкус.
				</P>
			</div>
			<div id="tabs-12">
				<h2>EARL GREY</h2>
				<p class="imgprice"><img src="images/tea/015.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 115 руб.</p>
				<br>
				<p class="text">
				Эрл Грей. Цейлонский черный чай с добавлением натурального масла бергамота.
				</P>
			</div>
			<div id="tabs-13">
				<h2>JAPAN GENMAICHA</h2>
				<p class="imgprice"><img src="images/tea/017.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 150 руб.</p>
				<br>
				<p class="text">
				Генмайча, зеленый. Зеленый японский нежный чай Сенча с добавлением "взорванного" риса, с неповто-римым сладковато-ореховым, карамельным привкусом. 
				</P>
			</div>
			<div id="tabs-14">
				<h2>CHINA JASMINE MONKEY KING</h2>
				<p class="imgprice"><img src="images/tea/021.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 150 руб.</p>
				<br>
				<p class="text">
				Зеленый с жасмином . Прекрасный китайский зеленый чай из провинции Хунань, с добавлением цветов жасмина Легкий аромат, слегка пряный вкус и хорошие тонизирующие свойства. 
				</P>
			</div>
			<div id="tabs-15">
				<h2>ROOIBOS FRUIT</h2>
				<p class="imgprice"><img src="images/tea/023.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 135 руб.</p>
				<br>
				<p class="text">
				Ройбуш фруктовый. Южноафриканский краснокустарниковый ройбуш с добавлением кусочков сладкого яблока, лимона, лепестков мелиссы и подсолнечника, пропитан апельсиновым ароматом. 
				</P>
			</div>

		</div>
</div>

	

