.dop-content3
  .text3
    По всем вопросам:
    %br
    %span.email
      info@gurme.ru
    %br
    %br
    Заказ кофе, финансовая информация:
    %br
    Пн - Пт: с 9.00 до 17.00
    %br
    %span.email
      8-812-930-16-50
      %br
      8-812-95-65-900
      %br
    %span.email
      fb@gurme.ru
    %br
    %br
    Офис-склад:
    %br
    %span.email
      Санкт-Петербург, Выборгская набережная, дом 55
    %br
    %br
    Расположение кофеен на карте города:
    %br
    %br

    = render 'layouts/map'
    = render 'layouts/dop-footer'