<div class="dop-content2"><br>
	<h1>Доставка кофе и чая.</h1>
<p class="text2">
<br><br>
<span class="email">При заказе от 5 кг и выше - доставка по Санкт-Петербургу беслпатная.</span><br>
<span class="email">При заказе от 1 кг до 5 кг - стоимость доставки по Санкт-Петербургу 200 руб.</span><br>
<span class="email">Так же вся наша продукция доступна в любой из наших кофеен по предварительному заказу.</span>
<br><br>

пишите: <span class="email">coffee@gurme.ru</span><br>
звоните: <span class="email">+7-921-376-56-48 Владислав</span>
</p>
<br><br>
<img src="../images/pa4ki.jpg" width="700" />
</div>