.dop-content2
  %br
  %h1 Доставка кофе и чая.
  %br
  %br
  %p.text2
    %span.email При заказе от 5 кг и выше - доставка по Санкт-Петербургу беслпатная.
    %br
    %span.email При заказе до 5 кг - стоимость доставки по Санкт-Петербургу 200 руб.
    %br
    %span.email Так же вся наша продукция доступна в интернет-магазине.
    %br
    %br
    пишите:
    %span.email fb@gurme.ru
    %br
    звоните:
    %span.email 8-812-930-16-50
  %br
  %br
  %img{src: "../images/pa4ki.jpg", width: "700"}
  = render 'layouts/dop-footer'