.dop-content4
  %h1 Франчайзинг кафе
  %br
    .ui-content
      %div
        %p.text
          %strong Франчайзинг кофейни
          по программе Кофейного Дома Гурме предоставляет инвестору возможность с минимальными рисками начать свое дело в индустрии общественного питания, став владельцем
          = succeed "." do
            %strong кофейного бизнеса
          %br

          %img{:src => "../images/kof/vlad_700_07.jpg", :width => "646"}/
          %br
          %br

          %strong Франчайзер оказывает комплексную поддержку, которая включает:
          %br
          %br

          —
          %span.under право работы под маркой "Кофейный Дом ГУРМЕ";
          %br
          %br

          —
          %span.under помощь в подборе и оценке подобранных помещений;
          %br
          %br

          —
          %span.under передача технологий и рецептур;
          %br
          %br

          —
          %span.under консультации по эффективному ведению бизнеса;
          %br
          %br

          —
          %span.under обучение персонала
          (франчайзер подготовит управленческий,
          торговый и технический персонал в соответствии со стандартами ведения эффективного бизнеса "Кофейного Дома ГУРМЕ");
          %br
          %br

          —
          %span.under специальные цены на кофе и чай для наших партнеров по франчайзингу;
          %br
          %br

          —
          %span.under выгодные поставки аксессуаров в фирменном стиле и оборудования;
          %br
          %br
          %br
          %br
          %p.text
          Подробная информация об организации
          %strong франчайзинга кафе
          %br
          под торговой маркой "Кофейный Дом Гурме" высылается по запросу.
          %br
          %br
          Тел.: (921)962-0816
          %br
          E-mail: fr@gurme.ru
          %br
          Андрей Гаврилов
          %br
          %br
          %aside
            %div
              %img{:src => "../images/present.png"}
              %br
              = link_to '/Presentacia_GURME.pdf', target: '_blank' do
                %i.fa.fa-download
                  Скачать презентацию
            %div
              %img{:src => "../word_small.png"}
              %br
              = link_to '/anketa_gurme.doc', target: '_blank' do
                %i.fa.fa-download
                  Скачать анкету
    = render 'layouts/footer'