<div class="dop-content4">
	<h1>Франчайзинг кафе</h1>
	<br>
		<div id="accordion">
			<div>
				<h3><a href="#">Преимущества</a></h3>
	<div>
	<p class="text">
	<strong>Франчайзинг кофейни</strong> по программе Кофейного Дома Гурме предоставляет инвестору возможность с минимальными рисками начать свое дело в индустрии общественного питания, став владельцем <strong>кофейного бизнеса</strong>.
	</p>
	<br>
	<img src="../images/kof/vlad_700_07.jpg" width="646" />
	<br>
	<br>
	<strong>Франчайзер оказывает комплексную поддержку, которая включает:</strong><br><br>
	- <span class="under">право работы под маркой "Кофейный Дом ГУРМЕ";</span> <br><br>
	- <span class="under">передача технологий и рецептур;</span><br><br>
	- <span class="under">консультации по эффективному ведению бизнеса;</span><br><br>
	- <span class="under">обучение персонала</span> (франчайзер подготовит управленческий,
	торговый и технический персонал в соответствии со стандартами ведения эффективного бизнеса "Кофейного Дома ГУРМЕ");<br><br>
	- <span class="under">выгодные поставки</span> свежеобжаренного кофе, чая, кофейного оборудования и аксессуаров, оформленных в фирменном стиле Кофейного Дома ГУРМЕ.
	<br>
	<br>
	<p class="text">
	Подробная информация об организации <strong>франчайзинга кафе</strong> <br>под торговой маркой "Кофейный Дом Гурме" высылается по запросу.
	<br><br>
	Тел.: (921)962-0816  <br>
	E-mail: fr@gurme.ru<br>
	Андрей Гаврилов<br>
	Адрес: 197110, г. Санкт-Петербург, Чкаловский пр., д.11/32 
	</p>
	<br>
	<img src="../images/present.png" /><br>
	<a href="/images/Presentacia_GURME.pdf">Презентация в электронном виде</a>
	</div>
			</div>

		</div>
</div>