<div class="content">
<div class="welcome"></div>
<%= render 'layouts/sliderkit' %>
	<div class="dop-content">
                <div class="news">
                <b>Новости:</b>
                <%= render 'layouts/news' %>

                </div>
                <br>
<!--                 <div class="img-right">
            	    <img src="images/hud_700_01.jpg" width="220px" />
                    <div class="text-right">
                    <h3>Реклама в кофейнях</h3>
                    <p>Уважаемые рекламодатели, мы можем предложить следующие услуги по размещению рекламы в наших кофейнях:
                    </p>
                    <ul>
                            <li>- <a href="/reklama">размещение рекламы на столиках
                            </a></li>
                            <li>- <a href="/reklama">распространение полиграфии</a></li>
                            <li>- <a href="/reklama">размещение рекламы в окнах заведений</a></li>
                    </ul>
                    </div>
                </div> -->
        <h1>Кофейный Дом Гурме - зерновой кофе свежей обжарки.</h1>
		<div class="text2">
        		Во времена, когда из колониальных земель в Европу только начали привозить кофе, кофейные дома содержали жаровни, где тщательно, небольшими порциями кофе обжаривали, смешивая сорта и добиваясь редких вкусовых оттенков. Только свежеобжаренный кофе имеет тот аромат, который ценится у настоящих гурманов и держится не более 2-х недель.
        		<br><br>
                Мы закупаем отборные зеленые зерна кофе арабики и робусты из разных стран и обжариваем его небольшими порциями, получая всегда вкусный кофе .
                <br><br>
                Мы поставляем оптом кофе и чай в Санкт-Петербург и регионы России. Сотрудничаем с ресторанами и другими представителями Ho.Re.Ca. У нас так же можно купить кофе в офис . При этом обжарка кофе происходит именно перед доставкой, что позволяет нам называть наш кофе свежеобжаренным и по-настоящему хорошим!
                <br><br>
                В нашем ассортименте имеются сорта кофе премиум класса, смеси 100%-ой арабики, хорошо подходящие для приготовления в ресторанах, кафе или в офисе. А так же смеси арабики и робусты, хорошо подходящие для вендинга .
                <br><br>
                Мы имеем большой опыт в ведении кофейного бизнеса в области Ho.Re.Ca. За 14 лет существования нашей компании, были открыты как собственные, так и кофейни, работающие по франчайзинговой программе. Франчайзинг кофейни позволяет сократить риски и сроки открытия собственного бизнеса.
                <br><br>
                В наших кофейнях также осуществляется продажа кофе и чая. В каждой из них всегда можно купить кофе в зернах или молотый кофе .
                <br><br>
                Кофейный Дом ГУРМЕ будет рад сотрудничеству с Вами!
                <br><br>
		</div>
	</div>
</div>

