<div id="example">

			<div id="slides">
				<div class="slides_container">
					<div class="slide">
						<a title="Кофейный Дом Гурме" target="_blank"><img src="images/main_01.jpg" width="724" height="408" alt="Slide 1"></a>
						<div class="caption" style="bottom:0">
							<p>Кофейный Дом Гурме</p>
						</div>
					</div>
				
				</div>
				<a href="#" class="prev"><img src="images/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="images/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
			</div>
			<img src="images/main_border.png" width="730" height="414" alt="Example Frame" id="frame">
		</div>