<div class="content">
<%= render 'layouts/sliderkit' %>
	<div class="dop-content">
		<table class="table-dop">
			<tr class="tr-dop" >
				<td class="td-dop"><img src="images/dop_01.jpg" alt="Кофе в зернах" />
					<br><a href="#">Cпециальные предложения >></a>
				</td>
				<td class="td-empty"></td>
				<td class="td-dop"><img src="images/dop_02.jpg" alt="Кофе в зернах" />
					<br><a href="#">Продажа чая >></a>
				</td>
				<td class="td-empty"></td>
				<td class="td-dop"><img src="images/dop_04.jpg" alt="Кофе в зернах" />
					<br><a href="#">Кофе в зернах >></a>
				</td>
			</tr>

		</table>
	</div>
</div>