
				<!-- Start photosgallery-vertical -->
				<div class="sliderkit photosgallery-vertical">
					<div class="sliderkit-nav">						
						<div class="sliderkit-nav-clip">
							<ul>
								<li><a href="#" rel="nofollow" title="Кофейный Дом Гурме"><img src="../images/main_01.jpg" alt="Кофейный Дом Гурме" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/main_01.jpg" alt="Кофейный Дом Гурме" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/main_01.jpg" alt="Кофейный Дом Гурме" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/main_01.jpg" alt="Кофейный Дом Гурме" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/main_01.jpg" alt="Кофейный Дом Гурме" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/main_01.jpg" alt="Кофейный Дом Гурме" /></a></li>

							</ul>
						</div>

					</div>
					<div class="sliderkit-panels">
						<div class="sliderkit-panel">
							<img src="../images/main_01.jpg" alt="Кофейеый Дом Гурме" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Первый текст.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/main_01.jpg" alt="Кофейеый Дом Гурме" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Первый текст.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/main_01.jpg" alt="Кофейеый Дом Гурме" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Первый текст.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/main_01.jpg" alt="Кофейеый Дом Гурме" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Первый текст.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/main_01.jpg" alt="Кофейеый Дом Гурме" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Первый текст.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/main_01.jpg" alt="Кофейеый Дом Гурме" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Первый текст.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>


					</div>
				</div>
				<!-- // end of photosgallery-vertical -->
