
				<!-- Start photosgallery-vertical -->
				<div class="sliderkit photosgallery-vertical">
					<div class="sliderkit-nav">						
						<div class="sliderkit-nav-clip">
							<ul>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/sliderkit/photos/mini/sample-01.jpg" alt="[Alternative text]" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/sliderkit/photos/mini/sample-02.jpg" alt="[Alternative text]" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/sliderkit/photos/mini/sample-03.jpg" alt="[Alternative text]" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/sliderkit/photos/mini/sample-04.jpg" alt="[Alternative text]" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/sliderkit/photos/mini/sample-05.jpg" alt="[Alternative text]" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/sliderkit/photos/mini/sample-06.jpg" alt="[Alternative text]" /></a></li>
								<li><a href="#" rel="nofollow" title="[link title]"><img src="../images/sliderkit/photos/mini/sample-07.jpg" alt="[Alternative text]" /></a></li>
							</ul>
						</div>
						<div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
						<div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>
					</div>
					<div class="sliderkit-panels">
						<div class="sliderkit-panel">
							<img src="../images/sliderkit/photos/sample-01.jpg" alt="[Alternative text]" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<h4>sample-01.jpg</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/sliderkit/photos/sample-02.jpg" alt="[Alternative text]" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<h4>sample-02.jpg</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/sliderkit/photos/sample-03.jpg" alt="[Alternative text]" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<h4>sample-03.jpg</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/sliderkit/photos/sample-04.jpg" alt="[Alternative text]" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<h4>sample-04.jpg</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/sliderkit/photos/sample-05.jpg" alt="[Alternative text]" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<h4>sample-05.jpg</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/sliderkit/photos/sample-06.jpg" alt="[Alternative text]" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<h4>sample-06.jpg</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/sliderkit/photos/sample-07.jpg" alt="[Alternative text]" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<h4>sample-07.jpg</h4>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end of photosgallery-vertical -->
