
<div class="dop-content2">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Чкаловский пр., 11</a></li>
				<li><a href="#tabs-2">Невский пр., 48</a></li>
				<li><a href="#tabs-3">пр. Художников, 14</a></li>
				<li><a href="#tabs-4">Владимирский пр., 15</a></li>
				<li><a href="#tabs-6">Литейный пр., 16</a></li>
				<li><a href="#tabs-5">ул. Марата, 86</a></li>
				<li><a href="#tabs-7">г. Мурманск</a></li>
			</ul>
			<div id="tabs-1">
			<%= render 'layouts/yandex_01' %>
			</div>
            <div id="tabs-2">
				<div style="height:265px;">
				
				<p style="float: right; ">
				(универмаг "ПАССАЖ", 2-ой этаж)<br>
				понедельник-суббота: с 10:00 до 21:00<br>
				воскресенье: с 11:00 до 21:00<br>
				/812/ 570-58-02
				</P>


			</div>
			<div id="tabs-3">
				<h2>Художников пр., 14</h2>
				<p class="imgprice"><img src="images/tea/monetka.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 170 руб.</p>
				<br>
				<p class="text">
				ежедневно: с 10:00 до 23:00
/812/ 987-91-21 
				</P>
			</div>
			<div id="tabs-4">
				<h2>Владимирский пр., 15</h2>
				<p class="imgprice"><img src="images/tea/puer.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 170 руб.</p>
				<br>
				<p class="text">
				Круглосуточно
/812/ 712-57-93
				</P>
			</div>
			<div id="tabs-5">
				<h2>Литейный пр., 16</h2>
				<p class="imgprice"><img src="images/tea/002.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 115 руб.</p>
				<br>
				<p class="text">
				по будням: с 8:00 до 23:00
по выходным: с 10:00 до 23:00
/812/ 272-82-59 
				</P>
			</div>
			<div id="tabs-6">
				<h2>ул. Марата., 86</h2>
				<p class="imgprice"><img src="images/tea/003.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 135 руб.</p>
				<br>
				<p class="text">
				(ТРК "Нептун")
				ежедневно: с 10:00 до 21:00
/812/ 331-02-95
				</P>
			</div>
			<div id="tabs-7">
				<h2>г. Мурманск., Кольский пр., 134</h2>
				<p class="imgprice"><img src="images/tea/006.jpg" /></p>
				<p class="price">Розничная цена за 50 гр 135 руб.</p>
				<br>
				<p class="text">
				(ТРЦ "Форум") 	
по будням: с 8:00 до 23:00
по выходным: с 10:00 до 23:00
/8-8152/ 58-77-16
				</P>
			</div>



		</div>
</div>

	

