
<div class="dop-content2">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Фирменная смесь</a></li>
				<li><a href="#tabs-9">Blue Mountain</a></li>
				<li><a href="#tabs-4">Kenya</a></li>
				<li><a href="#tabs-2">Guatemala</a></li>
				<li><a href="#tabs-3">Columbia</a></li>
				<li><a href="#tabs-5">Nicaragua</a></li>
				<li><a href="#tabs-6">Ethiopian</a></li>
				<li><a href="#tabs-7">Indonesia</a></li>
				<li><a href="#tabs-11">Costa Rica</a></li>
				<li><a href="#tabs-10">Decafinated</a></li>
				<li><a href="#tabs-8">Brasil Santos</a></li>
				<li><a href="#tabs-15">Кофейная симфония</a></li>
				<li><a href="#tabs-12">Северная Венеция</a></li>
				<li><a href="#tabs-13">Смесь Крепкая</a></li>
			</ul>
			<div id="tabs-1">
				<h2>Фирменный кофе "Гурме"</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 960 руб.</p>
				<br>
				<p class="text">
				Кофейные бобы, выращенные на различных почвах и континентах, в различных климатических условиях, имеют свои неповторимые вкусовые оттенки и соответствующую ценность. Смешивая зерна различных сортов можно получить кофе с новыми вкусовыми характеристиками.
				Таким образом был создан и наш фирменный кофе «ГУРМЕ» из признанных лучшими сортов арабики. В нем удачно сочетаются вкус шоколада, острота, мягкость и винный привкус.
				</P>
			</div>
            <div id="tabs-2">
				<h2>Guatemala Genuine Antigua</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 960 руб.</p>
				<br>
				<p class="text">
				Огнедышащий кофе из Гватемалы. Этот кофе будоражит воображение своим табачным, немного дымным, «клокочущим» вкусом. Плантации расположены на подвижной вулканической почве. Самые известные местные сорта кофе – Антигуа, Кобан, дающие острый насыщенный напиток и отражающие темперамент «накаленной атмосферы»
				</P>
			</div>
			<div id="tabs-3">
				<h2>Columbia Medellin EXCELSO</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 960 руб.</p>
				<br>
				<p class="text">
				Экваториальный кофе из Колумбии. Колумбийские кофейные зерна впитали солнечную энергию на высоте 1000 метров над уровнем моря, передав напитку бархатистость климата, богатство и полноту аромата, в котором будто бы сконцентрированы гигантские плантации Колумбии. Разнообразие микро-климата, чередование гористой местности и долин превращает Колумбию в страну практически круглогодичного сбора кофе. Среди гурманов особенно ценится кофе глав-ных кофейных плантаций страны в районе городов Медельин, Армения и Манисалес.
				</P>
			</div>
			<div id="tabs-4">
				<h2>Kenya Fancy AA</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 1060 руб.</p>
				<br>
				<p class="text">
				Винный кофе из Кении. Сравнение достоинств кофе с вином больше всего подходит кенийскому напитку, опьяняющему своим винным, пряным привкусом, который возникает благодаря высокой кислотности и густому аромату. Высота кофейных плантаций достигает здесь 2100 метров, что влияет на освежающие свойства кофе – его рекомендуют подавать не только горячим, но и охлажденным.
				</P>
			</div>
			<div id="tabs-5">
				<h2>Nicaragua SHG</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 960 руб.</p>
				<br>
				<p class="text">
				Революционный кофе из Никарагуа. Возможно благодаря революции 1979 года и последующему периоду политической нестабильности в стране, никарагуанский кофе выделяется насыщенностью страстей и вы-разительным букетом. Нежный шоколадный вкус, коньячный привкус и долгое послевкусие терпкой горчинки очаровывает каждого, кто попробовал этот удивительный напиток.
				</P>
			</div>
			<div id="tabs-6">
				<h2>Ethiopian YIRGACHEFFE</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 960 руб.</p>
				<br>
				<p class="text">
				Цветочный кофе из Эфиопиии. Эфиопия – колыбель кофе, в частности, сорта Арабика. Эфиопский кофе растет на высотах от 1100 до 2100 метров над уровнем моря. Самый ароматный и высококачественный сорт кофе из района Сидамо носит название Йиргачеф. Его оценивают как один из лучших сортов. Он дает богатый настой с многослойным, удивительно долгим послевкусием, в котором ощущаются цветочные нотки.
				</P>
			</div>
			<div id="tabs-7">
				<h2>Indonesia Java</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 960 руб.</p>
				<br>
				<p class="text">
				Колониальный кофе из Индонезии. Достоинства кофе с острова Ява – пикантный экспрессивный букет, и вместе с тем тонкий вкус. В Индонезии практически весь кофе производится на маленьких плантациях, где «Арабика» занимает только 10 %. Но именно благодаря этому индонезийская «Арабика» стала предметом повышенного внимания любителей редкостей.
				</P>
			</div>
			<div id="tabs-8">
				<h2>Brazil SANTOS</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 740 руб.</p>
				<br>
				<p class="text">
				Самый известный кофе из Бразилии. Из многочисленных торговых сортов бразильского кофе этот сорт определяется размером кофейных зерен. Флэт Бит Сантос – это крупные и ровные зерна с деревьев старше 4-х лет. Дает мягкий аромат и среднюю насыщенность с легким ореховым привкусом.
				</P>
			</div>
			<div id="tabs-9">
				<h2>Jamaica BLUE MOUNTAIN</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 8600 руб.</p>
				<br>
				<p class="text">
				Островной кофе из Ямайки. Ямайка знаменита единственным сортом кофе JAMAICA BLUE MOUNTAIN. Это самый высокогорный сорт кофе в мире. Природные и климатические условия острова обеспечивают почти идеальную вегетацию кофейных деревьев, растущих на террасах хребта BLUE MOUNTAIN, высота которого достигает 3000 метров. Из-за ограниченности места произрастания стоимость этого сорта кофе очень высока.
				</P>
			</div>
			<div id="tabs-10">
				<h2>Columbia decaffinated</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 960 руб.</p>
				<br>
				<p class="text">
				Кроме того, в нашей коллекции также представлен бескофеиновый кофе, который, согласно витиеватой традиции, сравнивают с благоухающим садом без змей.
				</P>
			</div>
			<div id="tabs-11">
				<h2>Costa Rica SHB </h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 960 руб.</p>
				<br>
				<p class="text">
				Высокогорный кофе из Коста-Рики. Этот кофе отличается вкусом чистым и легким как горный воздух, овевающий кофейный плантации Коста-Рики. Из стран Центральной Америки Коста-Рика первой начала экспортировать кофе – недаром эта страна в переводе на русский язык означает «Богатый берег». Любопытно также и то, что в Коста-Рике культивируются исключительно зерна Арабика. Разведение кофе сорта Робуста запрещено. Более медленное развитие кофейных деревьев на высокогорьях приводит к получению зерна с особенно изысканным вкусом и ароматом.
                Костариканский кофе – само совершенство. Насыщенный и богатый, обладающий легким, чистым вкусом, прекрасным ароматом имеет репутацию как одного из лучших сортов кофе в мире.
				</P>
			</div>
			<div id="tabs-12">
				<h2>Смесь «Северная Венеция»</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 620 руб.</p>
				<br>
				<p class="text">
				Купаж колумбийской арабики премиум-класса и робусты. Идеальная смесь для употребления в течение всего дня. Бархатный, хорошо сбалансиро-ванный вкус с запоминающимся ароматом.
				</P>
			</div>
			<div id="tabs-13">
				<h2>Смесь «Крепкая»</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 500 руб.</p>
				<br>
				<p class="text">
				Бодрящая смесь. Гармоничный вкус с тонким ароматом специй. Эксклюзивный купаж колумбийской арабики премиум-класса и робусты для офисных кофемашин и вендинговых автоматов.
				</P>
			</div>

			<div id="tabs-15">
				<h2>Смесь «Кофейная симфония»</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 620 руб.</p>
				<br>
				<p class="text">
				Смесь для отличного начала дня. Горьковато-вяжущий вкус с винными нотками. Купаж индонезийской и никарагуанской арабики премиум-класса и робусты.
				</P>
			</div>
<!-- 			<div id="tabs-16">
				<h2>Uganda Organic Bugisu AB</h2>
				<p class="imgprice">
<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
				</p>
				<p class="price">Розничная цена за 1 кг 780 руб.</p>
				<br>
				<p class="text">
				Кофе этого сорта выращивают на горе Элгон, расположенной на северо-востоке Уганды в районе под названием Северный Бугису. Арабику, из которой производят кофе "Organic Bugisu", обрабатывают влажным способом на небольших фермах, называющихся "шэмбас". Этот кофе, растущий среди бананов и маниоки, отличается весьма оригинальным вкусом, в котором ярко выражены древесные нотки.
				</P>
			</div> -->

		</div>
</div>



