<div class="kofmenu">
<a href="images/menu/001.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/001.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/002.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/002.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/003.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/003.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/004.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/004.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/005.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/005.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/006.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/006.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/007.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/007.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/008.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/008.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/009.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/009.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/010.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/010.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/011.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/011.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/012.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/012.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/013.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/013.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/014.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/014.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/015.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/015.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/016.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/016.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/017.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/017.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/018.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/018.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/019.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/019.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/020.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/020.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/021.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/021.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/022.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/022.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/023.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/023.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/024.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/024.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/025.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/025.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/026.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/026.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

<a href="images/menu/027.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/027.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>
<a href="images/menu/028.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/menu/small/028.jpg" alt="Highslide JS" title="Click to enlarge"  />
</a>

</div>