<div class="dop-content2">
	<h1>Праздники в кафе</h1>
		<br>
		<div class="ui-content">
					<div style="text-align: center;">
					<img src="images/700_prazdniki.jpg" width="646px"  />
					<br>
					<span class="text"><strong>Дорогие друзья! <br>В наших кофейнях Вы всегда сможете отметить любой Ваш праздник!<br> Будь это день рождение Вашего ребенка или же корпоративная вечеринка<br> в честь повышения зарплаты. :)
				    </strong>
				    </span>
				    <br>
					</div>
<br>
<span class="text_span">Стоимость:</span><br>
<!-- 2000 руб + оплата заказанного меню.  <br>
В 2500 руб входит 1 час работы аниматора, украшение зала и стола.<br>
Каждый следующий час работы аниматора - 1000 руб. -->
2500 руб + оплата заказанного меню и работа аниматора.  <br>
В 2500 руб входит аренда зала на 1,5 часа, украшение стола и зала.<br>
Работа детского аниматора - 4500 руб/час.
<br><br>

<span class="text_span">Информация по всем кофейням:</span>
<br>
<span class="email">info@gurme.ru</span>
<br>
<span class="email">(812) 930-16-50</span>
<br><br>
<span class="text_span">Владимирский пр. 15 и ул. Марата 86:</span>
<br>
<span class="email">(812) 712-57-93<br>8 921 643-75-48</span>
<br><br>
<strong>
Мы всегда рады Вам!<br>
С Уважением, Ваш Кофейный Дом "ГУРМЕ"
</strong>
		</div>
</div>


