<div class="dop-content2">
	<h1>Праздники в кафе</h1>
		<br>
		<div class="ui-content">
					<div style="text-align: center;">
					<img src="images/700_prazdniki.jpg" width="646px"  />
					<br>
					<span class="text"><strong>Дорогие друзья! <br>В наших кофейнях Вы всегда сможете отметить любой Ваш праздник!<br> Будь это день рождение Вашего ребенка или же корпоративная вечеринка<br> в честь повышения зарплаты. :)
				    </strong>
				    </span>
				    <br>
					</div>
<br>
<span class="text_span">Стоимость:</span><br>
2000 руб + оплата заказанного меню.  <br>
В 2000 руб входит 1 час работы аниматора, украшение зала и стола.<br>
Каждый следующий час работы аниматора - 1000 руб.

<br><br>

<span class="text_span">пишите:</span> <span class="email">coffee@gurme.ru</span><br>
<span class="text_span">звоните:</span> <span class="email">+7-921-376-56-48 Владислав</span>
<br><br>
<strong>
Мы всегда рады Вам!<br>
С Уважением, Ваш Кофейный Дом "ГУРМЕ"
</strong>
		</div>
</div>


