<div class="dop-content2">
	<h1>Реклама в кафе</h1>
	<div class="text3">
<br>
<b>1.</b> <span class="email" style="text-decoration: underline;">
Размещение на столиках
</span><br><br>
<img src="images/rek_01.jpg" /><br>
(тейбл-тенсы)<br>
минимальный срок 30 дней<br>
формат А 5 с двух сторон<br><br>
<b>2.</b> <span class="email" style="text-decoration: underline;">
Размещение конструкций -трансформеров на столиках
</span><br><br>
<img src="images/rek_02.jpg" /><br>
(кубики, пирамидки и т.п.)<br>
минимальный срок проведения 30 дней<br>
<br><br>
<b>3.</b> <span class="email" style="text-decoration: underline;">
Распространение полиграфии
</span><br><br>
<img src="images/rek_03.jpg" /><br>
(на стойках оборудованных для газет и журналов)
<br><br>
<b>4.</b> <span class="email" style="text-decoration: underline;">
Размещение рекламы в окнах заведений
</span><br><br>
<img src="images/rek_04.jpg" /><br>
(подробности по телефону)
<br><br>
пишите: <span class="email">coffee@gurme.ru</span><br>
<br><br>
</div>