<!-- <div class="highslide-html-content" id="my-content" style="width: 405px; padding: 10px !important;">
	<div class="highslide-body">
		<div class="text3">
			Открыта вакансия бариста в кофейне по адресу:<br>
			<span class="email">Невский пр., 48</span><br><br>
			Опыт работы не обязателен, обучение на месте.<br>

			<br>
			<br>
			По всем вопросам:<br>
			<span class="email">+7 911 145 51 53</span><br>
			<br>
			<span class="email">Мария</span>
			<br>
			<br>
			<img src="../images/kof/pas_700_06.jpg" width="400" />
		</div>
	</div>
</div>
 -->

 <div class="highslide-html-content" id="highslide-html">
	<div class="highslide-header">
		<ul>
			<li class="highslide-move">
				<a href="#" onclick="return false">Move</a>
			</li>
			<li class="highslide-close">
				<a href="#" onclick="return hs.close(this)">Close</a>
			</li>
		</ul>
	</div>
	<div class="highslide-body">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam dapibus leo quis nisl. In lectus. Vivamus consectetuer pede in nisl. Mauris cursus pretium mauris. Suspendisse condimentum mi ac tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sed enim. Ut vel ipsum. Cras consequat velit et justo. Donec mollis, mi at tincidunt vehicula, nisl mi luctus risus, quis scelerisque arcu nibh ac nisi. Sed risus. Curabitur urna. Aliquam vitae nisl. Quisque imperdiet semper justo. Pellentesque nonummy pretium tellus.
	</div>
    <div class="highslide-footer">
        <div>
            <span class="highslide-resize" title="Resize">
                <span></span>
            </span>
        </div>
    </div>
</div>