<div class="highslide-html-content" id="my-content" style="width: 405px; padding: 10px !important;">
	<div class="highslide-body">
		<div class="text3">


			Открыта вакансия бариста в кофейне по адресу:<br>
			<span class="email">Невский пр., 48</span><br><br>
			Опыт работы не обязателен, обучение на месте.<br>

			<br>
			<br>
			По всем вопросам:<br>
			<span class="email">+7 911 145 51 53</span><br>
			<br>
			<span class="email">Мария</span>
			<br>
			<br>
			<img src="../images/kof/pas_700_06.jpg" width="400" />
		</div>
	</div>
</div>
