<div class="dop-content2">
	<h1>Смесь Эспрессо-вендинг</h1>
		<br>
		<div class="ui-content">
					<br>
					<div style="text-align: center;">
					<img src="images/pa4ka_m.jpg" height="300px" />
					<br><br>
					<span class="text">
					Идеально подобранный купаж арабики высшего сорта и робусты для кофейного автомата.
				    </span>
				    <br>
					</div>
<br>
- Предлагаем натуральный зерновой обжареный кофе.<br>
- Жарим кофе уже 12 лет.<br>
- Предлагаем низкую цену при гарантированном качестве, т.к. являемся импортерами кофе.<br>
- Можем составить любые смеси для вендига, ресторанов, офисов и кофеен.
		</div>
</div>