<div class="dop-content2">
	<h1>Смесь Эспрессо-вендинг</h1>
		<div id="accordion">
			<div>
				<br>
				<h3><a href="#">Зерновой кофе</a></h3>
					<div style="text-align: center;">
					<br>
					<img src="images/pa4ka_m.jpg" height="300px" />
					<br><br>
					<span class="text">
					Идеально подобранный купаж арабики высшего сорта и робусты для кофейного автомата.
				    </span>
				    <br>
					</div>
			</div>
		</div>
</div>