.dop-content2
  %h1 Кофе для вендинга
  %br
  #vending_img
    .text2
      %br
      Бесплатная доставка в любой регион! 
      %br
      (от коробки 5 кг)
    %img{src: "images/avtomat_01.png"}
    %img{src: "images/avtomat_02.png"}
  %table.vending_table{border: "1", rules: "all"}
    %thead
      %tr
        %th Смеси робусты с арабикой
        %th Цена
    %tr
      %td Крепкая (100% робуста)
      %td 275 руб.
    %tr
      %td Эспрессо Вендинг (купаж 80/20)
      %td 295 руб.
    %tr
      %td Лениградская (купаж 60/40)
      %td 325 руб.
  = render 'layouts/dop-footer'