<div class="dop-content2">
	<h1>Смесь Эспрессо-вендинг</h1>
		<br>
		<div class="ui-content">
					<br>
					<div style="text-align: center;">
					<img src="images/pa4ka_m.jpg" height="300px" />
					<br><br>
					<span class="text">
					Идеально подобранный купаж арабики высшего сорта и робусты для кофейного автомата.
				    </span>
				    <br>
					</div>
		</div>
</div>