.dop-content2.vending
  %h1 Кофе для вендинга
  %br
  #vending_img
    .text2
      %br
      Бесплатная до транспортной компании в СПб!
      %br
      (от коробки 6 кг)
    %img{src: "images/avtomat_01.png"}
    %img{src: "images/avtomat_02.png"}

  %p
    БЕСПРЕЦЕДЕНТНО!
    %br
    Вопреки росту курса доллара!
  %table.vending_table{border: "1", rules: "all"}
    / %thead
    /   %tr
    /     %th Смеси из зернового кофе
    /     %th Цена (1 кг)
    %tr
      %td Смесь "Крепкая"" (робуста 100%)
      %td 230 рублей/кг
    %tr
      %td Espresso BAR (арабика с робуста: 20% - 80%)
      %td 240 рублей/кг
    %tr
      %td Espresso EXTRA (арабика и робуста: 40% - 60%)
      %td 270 рублей/кг

  .text
    %b Важно:
    %p 1. Кофе урожая 2014 года
    %p 2. Поставка от 6 кг одного наименования
    %p 3. Бесплатная доставка по СПб либо до терминала транспортной компании в СПб
    %strong (812) 930-1650

  = render 'layouts/dop-footer'