<div class="dop-content2">
	<h1>Кофе для вендинга</h1>
		<br>
		<div class="ui-content">
					<div style="text-align: center;">
					<a href="images/together_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/together_01_small.jpg" alt="Highslide JS" title="Click to enlarge" />
</a>
					<br>
					<span class="text"><strong>
					Идеально подобранный купаж арабики высшего сорта и робусты для кофейного автомата.
				    </strong>
				    </span>
				    <br>
					</div>
<br>
  Кофейный Дом "Гурме" 12 лет обжаривает кофе в России.<br>
  Мы предлагаем только свежеобжаренный кофе по самым низким ценам!<br>
  Хотите узнать почему?<br>
  Мы самостоятельно импортируем кофе из стран его произрастания.<br>
  Мы самостоятельно его перерабатываем,<br>
  поэтому всегда гарантируем качество и срок поставки.<br>
  Мы  можем составить любые смеси для вендига, ресторанов, офисов и кофеен.
<br><br>

пишите: <span class="email">coffee@gurme.ru</span><br>
<br><br>
<strong>
Всегда готовы к сотрудничеству!<br>
С Уважением, Ваш Кофейный Дом "ГУРМЕ"
</strong>
		</div>
</div>


