<div class="dop-content2"><br>
	<h1>Кофе зеленый.</h1>
<p class="text2">
<br>
Страна происхождения Уганда.
<br><br>
<span class="email">Uganda Arabica Bugisu AB   мешки по 60 кг</span><br>
<span class="email">Uganda Arabica Drugar AB  мешки  по 60 кг</span><br>
<span class="email">Uganda Robusta (scr 15)мешки по 60 кг</span><br><br>
</p>
пишите: <span class="email">coffee@gurme</span>
звоните: <span class="email">+7-921-376-56-48 Владислав</span>
<br><br>
<img src="../images/green_01.jpg" width="700" />
</div>