.dop-content2
  %br
  %h1 Кофе зеленый.
  %p.text2
    %br
    Страна происхождения Уганда.
    %br
    %br
    %span.email Uganda Arabica Bugisu AB   мешки по 60 кг
    %br
    %span.email Uganda Arabica Drugar AB  мешки  по 60 кг
    %br
    %span.email Uganda Robusta (scr 18)мешки по 60 кг
    %br
    %br
    пишите:
    %span.email info@gurme.ru
    %br
  %br
  %br
  %img{src: "../images/green_01.jpg", width: "700"}

  = render 'layouts/dop-footer'