<div class="dop-content2"><br>
	<h1>Кофе зеленый, робуста.</h1>
<p class="text2">
<br>
Кофе зеленый.<br>

Страна происхождения Уганда.<br>

(скидки при дополнительных  условиях)<br><br>

<span class="email">Uganda Arabica Bugisu AB   мешки по 60 кг</span><br>
<span class="email">Uganda Arabica Drugar AB  мешки  по 60 кг</span><br>
<span class="email">Uganda Robusta (scr 15)мешки по 60 кг</span><br><br>



<span class="email">Условия продажи:</span><br>
Цены приведены на количество от 1 мешка на условиях FOT склад Санкт-Петербург, включая НДС (18%) и подлежат обязательному переподтверждению.
Оплата осуществляется в рублях по курсу ЦБ РФ +1% на дату зачисления денежных средств на счёт Продавца.
</p>
<br><br>
<img src="../images/green_01.jpg" width="700" />
</div>