.vending_content
  %br
  %br
  .article_footer
    .pull-left
      Всегда готовы к сотрудничеству!
      %br
      С Уважением, Ваш Кофейный Дом ГУРМЕ

    .pull-right
      г. Санкт-Петербург, Выборгская наб. 55
      %br
      8 (800) 505 65 92, + 7 (812) 930 16 50
  .oferta
    Информация размещенная на данном на сайте не является публичной офертой.