<div class="shet4ik">

<div style="position: relative;">
  <a style="position: absolute; width: 100%; height: 250px; left: 0; top: 0;" href="http://sberbank.ru/moscow/ru/s_m_business/credits/creditsforstartup/bus_star/our_partn/" target="_blank"></a>
  <object type="application/x-shockwave-flash" data="/banner/sberbank.swf" width="706" height="90">
    <param name="wmode" value="opaque">
    <param name="movie" value="/banner/sberbank.swf" />
    <param name="quality" value="high" />
  </object>
</div>
<a href="http://franshiza.ru/franchise/read/gurme/"><img src="http://franshiza.ru/images/franshiza-100x46.gif" width="100" height="46" /></a>
</div>
