<div class="shet4ik">

<div style="position: relative;">
  <a rel="nofollow" style="position: absolute; width: 100%; height: 90px; left: 0; top: 0;" href="http://sberbank.ru/moscow/ru/s_m_business/credits/creditsforstartup/bus_star/our_partn/" target="_blank"></a>
  <embed type="application/x-shockwave-flash" src="/banner/sberbank.swf" width="706" height="90" style="undefined" id="flashContent" name="flashContent" wmode="transparent" quality="high" allowfullscreen="true" allowscriptaccess="always">
</div>
<a rel="nofollow" href="http://franshiza.ru/franchise/read/gurme/"><img src="http://franshiza.ru/images/franshiza-100x46.gif" width="100" height="46" /></a>
</div>
