<header>
  <% logo = image_tag("logo.png", :alt => "Sample App") %>
  <%= link_to logo, root_path %>
  <div class="cssmenu">
    <ul>
      <li><%= link_to "О компании", root_path %></li>
      <li><%= link_to "Кофе", kofe_path %></li>
      <li><%= link_to "Франчайзинг кафе", about_path %></li>
    </div>
  </nav>
</header>