
%a{href: "http://www.gurmeshop.ru/", target: "_blank"}
  %img{src: "../images/banners/akcii_shop.png"}
%br
%a{href: "http://www.gurmeshop.ru/", target: "_blank"}
  %img{src: "../images/banners/akcii_shop_text.png"}
%br
%br
%a{href: "/dostavka-kofe-i-chaya"}
  %img{src: "../images/akcii_05.png"}
%br
%a{href: "/dostavka-kofe-i-chaya"}
  %img{src: "../images/akcii_03.png"}
%br
%br
%a{href: "/zelenyj-kofe"}
  %img{src: "../images/akcii_04.png"}
%br
%a{href: "/zelenyj-kofe"}
  %img{src: "../images/akcii_10.png"}
%br
%br
%br
%br
%br
%br
%a.vk{href: "http://vk.com/club48870789", target: "_blank"}
  %span
%a.tw{href: "https://twitter.com/dom_gurme", target: "_blank"}
  %span
%a.fb{href: "http://www.facebook.com/pages/%D0%9A%D0%BE%D1%84%D0%B5%D0%B9%D0%BD%D1%8B%D0%B9-%D0%94%D0%BE%D0%BC-%D0%93%D0%A3%D0%A0%D0%9C%D0%95/342727355836123", target: "_blank"}
  %span
%br
%p{style: "color: #663306; font-size: 12px; padding: 10px 0;"}
  Наши странички
  %br
  в социальных сетях