<div id="content">
	<div class="post inactive">
		<div class="title">
			<p class="news_date">13.02.2013</p>
			<h3>До Дня Святого Валентина осталось совсем чуть-чуть!</h3>
			<a href="images/news_valentinka.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
            <img src="images/news_valentinka_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
			<p>Кофейный Дом Гурме подготовил для вас маленький  сладкий сюрприз два мини-пирожных «Deligh-Валентинка» в форме сердца, которыми Вы можете порадовать себя и своих близких. Цена 1 сладкой валентинки- 30 руб</p>
		</div>
		<div class="entry">
			<p>...</p>
		</div>
	</div>
	<div class="post inactive">
		<div class="title">
			<p class="news_date">с 01.02.2013 по 01.04.2012</p>
			<h3>Семейные посиделки в Кофейном Доме Гурме</h3>
			<a href="images/all_big.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
            <img src="images/all_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
			<p>Дорогие гости, приглашаем Вас на наши мероприятия, мастер классы, творческие вечеринки, утренники
и просто в уютную атмосферу наших кофеен!</p>
		</div>
		<div class="entry">
			<p>...</p>
		</div>
	</div>
	<div class="post inactive">
		<div class="title">
			<p class="news_date">с 01.02.2013 по 01.04.2012</p>
			<h3>Покажи 5-ку и получи чашку кофе в подарок!</h3>

			<a href="images/a5_big.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
            <img src="images/a5_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
            <p>Новая акция для всех учащихся. Покажите нам хорошие оценки и мы подарим Вам чашечку горячего кофе.</p>
		</div>
		<div class="entry">
			<p>...</p>
		</div>
	</div>
	<div class="post inactive">
		<div class="title">
			<p class="news_date">26.01.2013; 27.01.2013</p>
			<h3>Мастер-классы от нашего лучшего специалиста!</h3>
			<a href="images/master_big.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
            <img src="images/master_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
			<p>ВХОД СВОБОДНЫЙ</p>
		</div>
		<div class="entry" >
			<p>...</p>
		</div>
	</div>
</div>