#content
  .post.inactive
    .title
      .news_block
        %p.news_date 14.10.2014
        %h3 Открытие новой кофейни
        %p 
          Дорогие друзья! Рады сообщить, что недавно состоялось открытие нашей новой кофейни в Санкт-Петербурге по адресу:
          %a{href: "/kofejni#tabs-7", target: "_blank"}
            Московский пр., д 109, к. 2
          %br
          (у м. Московские Ворота)
          %br
          %br
          Мы всегда рады гостям, приходите!
      .news_block
        %p.news_date 05.10.2014
        %h3 Открытие новой кофейни в г. Москва
        %img{src: "images/news/moscow.jpg", width: "220px"}
        %p 
          Дорогие друзья! Рады сообщить, что в ноябре планируется открытие новой кофейни в г. Москва по адресу:
          %a{href: "/kofejni#tabs-9", target: "_blank"}
            Ярославское шоссе, д 146 к 1
          %br
          в ТЦ "Москва-Ханой"
          %br
          %br
          Приходите, не пожалеете!
      .news_block
        %p.news_date 02.10.2014
        %h3 Кофейный Дом ГУРМЕ в Ростове-на-Дону!
        %img{src: "images/news/open_soon.jpg", width: "220px"}
        %p
          Дорогие друзья! Рады сообщить, что в г. Ростове-на-Дону скоро откроется еще одна наша кофейня, где Вы сможете насладиться кофейными напитками, приготовленных из свежеобжаренного кофе! 
          %br
          %br
          г. Ростове-на-Дону, пер. Соборный, д. 39 (угол с. ул. Красноармейской 27)
          %br
          %br
          %a.highslide{href: "images/kof/rostov/2/01.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-r2' } )"}
            %img{height: "74px", src: "images/kof/rostov/2/01.jpg", title: "Click to enlarge", width: "74px"}
          %a.highslide{href: "images/kof/rostov/2/02.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-r2' } )"}
            %img{height: "74px", src: "images/kof/rostov/2/02.jpg", title: "Click to enlarge", width: "74px"}
          %a.highslide{href: "images/kof/rostov/2/03.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-r2' } )"}
            %img{height: "74px", src: "images/kof/rostov/2/03.jpg", title: "Click to enlarge", width: "74px"}
          %a.highslide{href: "images/kof/rostov/2/04.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-r2' } )"}
            %img{height: "74px", src: "images/kof/rostov/2/04.jpg", title: "Click to enlarge", width: "74px"}
          %a.highslide{href: "images/kof/rostov/2/07.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-r2' } )"}
            %img{height: "74px", src: "images/kof/rostov/2/07.jpg", title: "Click to enlarge", width: "74px"}
      .news_block
        %p.news_date 01.10.2014
        %h3 Кофейня на пр. Художников, 14 снова открыта для Вас!
        %img{src: "images/hudojnikov_220.jpg", width: "220px"}
        %p 
          Дорогие друзья! Рады сообщить, что наша кофейня на 
          %a{href: "/kofejni#tabs-3", target: "_blank"}
            пр Художников, 14 
          возобновила свою работы после длительного ремонта. Теперь Вас ждет еще более уютная и незабываемая атмосфера!
      .news_block
        %p.news_date 23.09.2014
        %h3 А мы вне санкций - у нас кофе свой!
        %img{src: "images/parovoz_small.jpg", width: "220px"}

      .news_block
        %p.news_date 22.09.2014
        %h3 Кофейный Дом ГУРМЕ на ул. Кржижановского, 8
        %img{src: "images/news/open_soon.jpg", width: "220px"}
        %p
          Дорогие друзья! Рады сообщить, что в ноябре откроется наша новая кофейня в Санкт-Петербурге по адресу: ул. Кржижановского. д. 8 
          %br
          Где Вы сможете насладиться кофейными напитками, приготовленных из свежеобжаренного кофе! 
          %br
          %br
          г. Санкт-Петербург, ул. Кржижановского. д. 8 (м. Проспект Большевиков)
      .news_block
        %p.news_date 28.08.2014
        %h3 Кофейный Дом ГУРМЕ на Московском, 109
        %img{src: "images/news/open_soon.jpg", width: "220px"}
        %p
          Дорогие друзья! Рады сообщить, что уже совсем скоро откроется наша новая кофейня в Санк-Петербурге по адресу: Московский пр., д. 109
          %br
          Где Вы сможете насладиться кофейными напитками, приготовленных из свежеобжаренного кофе!
          %br
          %br
          г. Санкт-Петербург, Московский пр., д 109, к. 2 ( у м. Московские ворота)

      %p{style: "float: right;"} Все нвости

    .entry
      .news_block
        %p.news_date 04.07.2014
        %h3 У нас Лето!
        %img{src: "images/news/marata_02.jpg", width: "220px"}
        %p
          Приглашаем на дегустацию летнего меню в кофейне на 
          %a{href: "/kofejni#tabs-6", target: "_blank"}
            ул Марата, 86. 
          Попробуйте новые освежающие смузи из свежих фруктов, сорбеты и мороженое.
          %br
          %br
          %a.highslide{href: "images/news/marata_03.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-r' } )"}
            %img{alt: "Highslide JS", height: "74px", src: "images/news/marata_03.jpg", title: "Click to enlarge", width: "74px"}
          %a.highslide{href: "images/news/marata_04.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-r' } )"}
            %img{alt: "Highslide JS", height: "74px", src: "images/news/marata_04.jpg", title: "Click to enlarge", width: "74px"}
      .news_block
        %p.news_date 08.06.2014
        %h3 Закрылась на ремонт кофейня на пр. Художников, 14
        %img{src: "images/news/remont.jpg", width: "220px"}
        %p
          Кофейня по адресу
          %a{href: "/kofejni#tabs-3", target: "_blank"}
            пр. Художников, 14
          закрылась на реконструкцию. Надеемся, что ненадолго.
          %br
          %br
      .news_block
        %p.news_date 21.05.2014
        %h3 Ищем новых людей!
        %img{src: "images/news/barista_01.jpg", width: "220px"}
        %p
          В кофейню на
          %a{href: "/kofejni#tabs-2", target: "_blank"}
            Невский пр., 48
          требуется барист. Обращаться по телефону: +7 911 145 51 53 Мария
          %br
          %br

      .news_block
        %p.news_date 05.05.2014
        %h3 Кофейный Дом ГУРМЕ в Ростове-на-Дону!
        %img{src: "images/news/open_soon.jpg", width: "220px"}
        %p
          Дорогие друзья! Рады сообщить, что уже совсем скоро откроется наша новая кофейня в Ростове-на-Дону, где Вы сможете насладиться кофейными напитками, приготовленных из свежеобжаренного кофе!
          %br
          %br
          Адрес: 344082, г. Ростов-на-Дону, ул. Большая Садовая, 34а
          %br
          %br
          %a.highslide{href: "images/news/rostov_01.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-r' } )"}
            %img{alt: "Highslide JS", height: "74px", src: "images/news/rostov_01_s.jpg", title: "Click to enlarge", width: "74px"}
          %a.highslide{href: "images/news/rostov_04.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-r' } )"}
            %img{alt: "Highslide JS", height: "74px", src: "images/news/rostov_04_s.jpg", title: "Click to enlarge", width: "74px"}

      .news_block
        %p.news_date 17.03.2014
        %h3 Интернет-магазин "Кофейный Дом Гурме" с доставкой!
        %img{src: "images/news/dostavka.jpg", width: "220px", style: 'margin-bottom: 50px'}
        %p
          Теперь купить наш кофе и чай стало еще проще!
          %br
          Недавно мы запустили
          %a{href: 'http://www.gurmeshop.ru/', target: '_blank'}
            наш интернет-магазин
          с доставкой по Санкт-Петербургу и всей России!
          %br
          %br
          Заходите, выбирайте, заказывайте! Задавайте любые вопросы по телефону или в форме обратной связи!
          %br
          %br
          Мы всегда доставляем только свежеобжаренный кофе!
          %br
          %a{href: 'http://www.gurmeshop.ru/', target: '_blank'}
            www.gurmeshop.ru

      .news_block
        %p.news_date 27.02.2014
        %h3 Приближается 8 Марта!
        %img{src: "images/news/8marta.jpg", width: "220px"}
        %p{style: 'float: right'}
          Для милых и любимых!
          %br
          Во всех наших кофейнях!
          %br
          Мы поможем составить подарок на Ваш вкус!
      .news_block
        %p.news_date 11.12.2013
        %h3 С наступающим Новым Годом!
        %img{src: "images/new_year.jpg", width: "220px"}
        %p
          Просим принять во внимание, что последняя отгрузка в уходящем году будет
          %b
            30.12.2013
          %br
          Следующая поставка только
          %b
            10.01.2014
          %br
          Убедительно просим принять во внимание череду праздничных дней и заранее спланировать Ваши заказы.
          Счастья, здоровья и процветания!!!
      .news_block
        %p.news_date 03.12.2013
        %h3 Закрытие кофейни на Владимирском
        %img{src: "images/sadness.jpg", width: "220px"}
        %p
          К сожалению, мы вынуждены сообщить грустную новость. Кофейня на Владимирском пр. 15 закрывается по ряду причин.

          Спасибо всем, кто побывал у нас в гостях! Мы будем рады видеть Вас в соседних кофейнях на
          %a{href: "/kofejni#tabs-6", target: "_blank"}
            ул. Марата, 86
          и
          %a{href: "/kofejni#tabs-2", target: "_blank"}
            Невский пр., 48
          или в других
          = succeed "." do
            %a{href: "/kofejni", target: "_blank"} наших кофейнях
        %br
        %a.highslide{href: "images/bv_04.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-v' } )"}
          %img{alt: "Highslide JS", height: "74px", src: "images/bv_04_s.jpg", title: "Click to enlarge", width: "74px"}
        %a.highslide{href: "images/bv_01.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-v' } )"}
          %img{alt: "Highslide JS", height: "74px", src: "images/bv_01_s.jpg", title: "Click to enlarge", width: "74px"}
        %a.highslide{href: "images/bv_02.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-v' } )"}
          %img{alt: "Highslide JS", height: "74px", src: "images/bv_02_s.jpg", title: "Click to enlarge", width: "74px"}
        %a.highslide{href: "images/bv_03.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-v' } )"}
          %img{alt: "Highslide JS", height: "74px", src: "images/bv_03_s.jpg", title: "Click to enlarge", width: "74px"}
        %a.highslide{href: "images/kof/vlad_700_03.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery-v' } )"}
          %img{alt: "Highslide JS", height: "74px", src: "images/kof/kofejni_vlad_03.jpg", title: "Click to enlarge", width: "74px"}
