<div id="content">
	<div class="post inactive">
		<div class="title">


			<div class="news_block">
				<p class="news_date">27.11.2013</p>
				<h3>Скидка на чай "Жасминовый шар"!</h3>
				<a href="images/jasmin.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
					<img src="images/jasmin.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  />
				</a>
				<p>В кофейнях <a href="/kofejni#tabs-2" target="_blank">Невский пр., 48</a> и <a href="/kofejni#tabs-3" target="_blank">пр. Художников, 14</a><!--  и <a href="/kofejni#tabs-1" target="_blank">Чкаловский пр., 11</a> --><br><br> Только в преддверии нового года скидка 15% на шедевр чайного искусства - вязаный чай "Жасминовый шар".<br><br>
При заваривании из маленького шарика вырастет настоящая цветочная композиция, распускающаяся целым фейерверком цветов: оранжевой хризантемой, розовым клевером и колечком из цветков жасмина.
				<br>
				</p>
			</div>
			<div class="news_block">
				<p class="news_date">21.11.2013</p>
				<h3>Бокал вина в подарок!</h3>
				<img src="images/bokal.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  />
				<p>В кофейнях <a href="/kofejni#tabs-2" target="_blank">Невский пр., 48</a> и <a href="/kofejni#tabs-3" target="_blank">пр. Художников, 14</a> при заказе второго блюда бокал вкусного вина Вы получаете в подарок!
				<br>
				</p>
			</div>
			<div class="news_block">
				<p class="news_date">21.11.2013</p>
				<h3>Завтраки и обеды в ГУРМЕ!</h3>
				<img src="images/cezar.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  />
				<p>В кофейнях <a href="/kofejni#tabs-2" target="_blank">Невский пр., 48</a> и <a href="/kofejni#tabs-3" target="_blank">пр. Художников, 14</a>Вы можете позавтракать с 10:00 до 13:00 и свкусно пообедать до 16:00. Бизнес-ланчи ресторанного уовня от 199 руб.!
				<br>
				</p>
			</div>
			<div class="news_block">
				<p class="news_date">15.11.2013</p>
				<h3>Зайди и согрейся!</h3>
				<a href="images/alcohol.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/alcohol_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>Обещают похолодание! В кофейнях на <a href="/kofejni#tabs-2" target="_blank" >Невском пр.</a> и <a href="/kofejni#tabs-3" target="_blank" >пр. Художников</a> скидка 20% на весь алкоголь и бодрящие напитки!
				</p>
			</div>
			<div class="news_block big">
				<p class="news_date">30.10.2013</p>
				<h3>Предлагаем Вашему вниманию линейку наших десертов.</h3>
				<p>В наших кофейнях на <a href="/kofejni#tabs-3" target="_blank">Художников, 14</a> и <a href="/kofejni#tabs-2" target="_blank">Невский, 48</a> появился ассортимент чудеснейших пирожных.
				<br /><br />
				Принцип, лежащий в основе их приготовления - гармоничное сочетание натуральных ингредиентов и ручное исполнение. Никаких усилителей вкуса, продуктов с ГМО и прочих достижений химической промышленности мы не используем. Эти рецепты уходят корнями в далекое прошлое. А сами десерты обладают неповторимым и надолго запоминающимся вкусом.

				</p>
				<br />
				<a href="images/cakes/cake_sezam.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
	         <img src="images/cakes/cake_sezam.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  /></a>
				<a href="images/cakes/cake_sankandi.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
	         <img src="images/cakes/cake_sankandi.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  />
	      </a>
	      <a href="images/cakes/cake_toffi.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
	         <img src="images/cakes/cake_toffi.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  />
	      </a>
	      <a href="images/cakes/cake_muskat.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
	         <img src="images/cakes/cake_muskat.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  />
	      </a>
	      <a href="images/cakes/cake_dvarka.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
	         <img src="images/cakes/cake_dvarka.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  />
	      </a>
	      <a href="images/cakes/cake_chernika.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
	         <img src="images/cakes/cake_chernika.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  />
	      </a>
			</div>
			<div class="news_block">
				<p class="news_date">07.10.2013</p>
				<h3>Осенние предложения!</h3>
				<a href="images/kof/vla_gourmet.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery02' } )">
	            <img src="images/kof/vla_gourmet_news.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>В наших кофейнях <a href="/kofejni#tabs-4" target="_blank">Владимирский, 15</a> и <a href="/kofejni#tabs-6" target="_blank">Марата, 86</a> появились новые предложения.
				<br>
				<a href="images/kof/vla_alko.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery02' } )">
	         <img src="images/kof/vla_alko_small.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  />
	      </a>
	      <a href="images/kof/vla_vegetables.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery02' } )">
	         <img src="images/kof/vla_vegetables_small.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  />
	      </a>
	      <a href="images/kof/vla_autumn.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery02' } )">
	         <img src="images/kof/vla_autumn_small.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  />
	      </a>
				</p>
			</div>
			<div class="news_block">
				<p class="news_date">28.03.2013</p>
				<h3>Инжир в молочном шоколаде!</h3>
				<a href="images/injir_03.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/injir_small_03.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>Теперь у нас Вы можете насладиться наивкуснейшими конфетами из отборного инжира с Западной Испании!
				Приходите попробовать, не пожалеете!
				<br>
				<a href="images/injir_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/injir_01.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  /></a>
				</p>
			</div>
			<p style="float: right;">Все нвости</p>
		</div>
		<div class="entry" >
			<div class="news_block">
				<p class="news_date">21.03.2013</p>
				<h3>Постное меню!</h3>
				<a href="images/akcii_vladimir_post_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/akcii_vladimir_post_small_01.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>В кофейне на <a href="/kofejni#tabs-4" target="_blank" >Владимирском, 15</a> <br> появилось "Постное меню" из свежих салатов и овощных супов!
				<br>
				<a href="images/akcii_vladimir_post_02.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/akcii_vladimir_post_02.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  /></a>
				</p>
			</div>
			<div class="news_block">
				<p class="news_date">16.03.2013</p>
				<h3>Американские пончики теперь и в наших кофейнях!</h3>
				<a href="images/ponchiki.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/news_ponchiki_s.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>У нас появился новый партнер "лавка ГЛАЗУРЬ"!<br>Теперь во всех Кофейных Домах ГУРМЕ Вы сможете наслодиться свежими американскими пончиками!<br><br>
				<!-- <a href="images/lavka_glazur.pdf" target="_blank">Презентация компании</a> -->
				<br>
				</p>
			</div>
			<div class="news_block">
				<p class="news_date">11.03.2013</p>
				<h3>МАСЛЕНИЦА!</h3>
				<a href="images/akcii_maslo_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/akcii_maslo_01s.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>С 11 по 15 Марта в кофейнях на <a href="/kofejni" target="_blank" >Чкаловском, 11</a> и <a href="/kofejni#tabs-4" target="_blank" >Владимирском, 15</a> <br> действуют специальные предложения на вкусные блинчики!
				<br>
				<a href="images/akcii_maslo_02.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/akcii_maslo_02.jpg" alt="Highslide JS" title="Click to enlarge" width="74px" height="74px"  /></a>
				</p>
			</div>
			<div class="news_block">
				<p class="news_date">19.02.2013</p>
				<a href="http://vk.com/club48870789" target="_blank">
				<h3>Недавно открылась наша группа Вконтакте!</h3></a>
				<a href="http://vk.com/club48870789" target="_blank">
	            <img src="images/news_vkontakte.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>В нашей новой группе мы будем регулярно размещать самые актуальные акции связанные с работой кофеен и самой компании, а так же просто интересные статьи о кофе.<br><br> Вступайте в нашу группу! <br> Будем рады Вашим отзывам и сообщениям!</p>
			</div>
			<div class="news_block">
				<p class="news_date">07.03.2013</p>
				<h3>Международный Женский День!</h3>
				<a href="images/akcii_vladimir.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/akcii_vladimir_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>8, 9 и 10-го Марта Всем Дамам мы дарим сладкий комплимент!
				<br>А так же в эти дни в кофейне на Владимирском пр. 15 будет действовать 50% скидка на шампанское и вина!

				</p>
			</div>
			<div class="news_block">
				<p class="news_date">13.02.2013</p>
				<h3>До Дня Святого Валентина осталось совсем чуть-чуть!</h3>
				<a href="images/news_valentinka.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/news_valentinka_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>Кофейный Дом Гурме подготовил для вас маленький  сладкий сюрприз два мини-пирожных «Deligh-Валентинка» в форме сердца, которыми Вы можете порадовать себя и своих близких. Цена 1 сладкой валентинки- 30 руб</p>
			</div>
			<div class="news_block">
				<p class="news_date">с 01.02.2013 по 01.04.2012</p>
				<h3>Семейные посиделки в Кофейном Доме Гурме</h3>
				<a href="images/all_big.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/all_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>Дорогие гости, приглашаем Вас на наши мероприятия, мастер классы, творческие вечеринки, утренники
	и просто в уютную атмосферу наших кофеен!</p>
			</div>
			<div class="news_block">
				<p class="news_date">с 01.02.2013 по 01.04.2012</p>
				<h3>Покажи 5-ку и получи чашку кофе в подарок!</h3>

				<a href="images/a5_big.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/a5_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
	            <p>Новая акция для всех учащихся. Покажите нам хорошие оценки и мы подарим Вам чашечку горячего кофе.</p>
			</div>

			<div class="news_block">
				<p class="news_date">26.01.2013; 27.01.2013</p>
				<h3>Мастер-классы от нашего лучшего специалиста!</h3>
				<a href="images/master_big.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
	            <img src="images/master_small.jpg" alt="Highslide JS" title="Click to enlarge" width="220px"  /></a>
				<p>ВХОД СВОБОДНЫЙ</p>
			</div>
		</div>
	</div>
</div>
