/ %br
/ %br
/ %p{style: 'color: #339933; font-weight: bold;'}
/ 	Оптовый прайс по запросу на 
/ 	%span{style: 'text-decoration: underline;'}
/ 		fb@gurme.ru
= link_to '/images/price_kofe_GURME.pdf', class: 'pricekofe', target: '_blank' do
	%i.fa.fa-download
		Скачать оптовый прайс-лист