				<!-- Start photosgallery-vertical -->
				<div class="sliderkit photosgallery-vertical">

					<div class="sliderkit-nav">
						<div class="sliderkit-nav-clip">
							<ul>
								<li><a href="#" rel="nofollow" title="Кофейный Дом Гурме"><img src="../images/kof/4k_700_01_thumb.jpg" alt="Кофейный Дом Гурме" /></a></li>
								<li><a href="#" rel="nofollow" title="Новая упаковка ГУРМЕ"><img src="../images/kof/main_700_new_thumb.jpg" alt="Новая упаковка ГУРМЕ" /></a></li>
								<li><a href="#" rel="nofollow" title="Свежеобжаренный кофе"><img src="../images/kof/main_700_03_thumb.jpg" alt="Свежеобжаренный кофе" /></a></li>
								<li><a href="#" rel="nofollow" title="Бесплатный помол кофе"><img src="../images/kof/hud_700_15_thumb.jpg" alt="Бесплатный помол кофе" /></a></li>
								<li><a href="#" rel="nofollow" title="Кофе с собой"><img src="../images/kof/main_700_stakan_thumb.jpg" alt="Кофе с собой" /></a></li>
								<li><a href="#" rel="nofollow" title="Обжарка кофе"><img src="../images/kof/main_700_parovoz.jpg" alt="Обжарка кофе" /></a></li>
								<li><a href="#" rel="nofollow" title="Кофейный Дом Гурме"><img src="../images/kof/4k_700_03.jpg" alt="Кофейный Дом Гурме" /></a></li>
							</ul>
						</div>

					</div>
					<div class="sliderkit-panels">
						<div class="sliderkit-panel">
							<img src="../images/kof/4k_700_01.jpg" alt="Кофейный Дом Гурме" />

						</div>
						<div class="sliderkit-panel">
							<img src="../images/main_700_new.jpg" alt="Новая упаковка ГУРМЕ" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Новый дизайн упаковки.<br>(объемом 500 и 200 гр)</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>

						<div class="sliderkit-panel">
							<img src="../images/main_700_03.jpg" alt="Свежеобжаренный кофе" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Мы готовим наши напитки только из свежеобжаренных кофейных зерен.</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/hud_700_15.jpg" alt="Бесплатный помол" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Наш кофе можно приобрести во всех кофейнях Гурме. </p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/kof/main_700_stakan.jpg" alt="Кофе с собой" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Скидка 20% на "Кофе с собой!"</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
						<div class="sliderkit-panel">
							<img src="../images/kof/main_700_parovoz.jpg" alt="Обжарка кофе" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p>Все моно-сорта кофе и кофейные смеси, которые мы продаем, мы обжариваем сами. И поэтому наш кофе такой вкусный!</p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>
												<div class="sliderkit-panel">
							<img src="../images/kof/4k_700_03.jpg" alt="Кофейный Дом Гурме" />
							<div class="sliderkit-panel-textbox">
								<div class="sliderkit-panel-text">
									<p></p>
								</div>
								<div class="sliderkit-panel-overlay"></div>
							</div>
						</div>

					</div>
				</div>
				<!-- // end of photosgallery-vertical -->
