<div class="highslide-html-content" id="my-content" style="width: 405px; padding: 10px !important;">
<div class="highslide-body">
<div class="text3">
Открыта вакансия бариста в кофейне по адресу:<br>
<span class="email">Художников 14 (пересечение пр.Художников и Луначарского)</span><br><br>
Опыт работы не обязателен, обучение на месте.<br>
График работы: <span class="email" style="text-decoration: underline;">два через два.</span>
<br>
<br>
По всем вопросам:<br>
<span class="email">8-905-270-01-64</span><br>
<br>
<span class="email">Виктория Борисовна</span>
<br>
<br>
<img src="../images/kof/hud_700_04.jpg" width="400" />
</div>
</div>
</div>