<div class="highslide-html-content" id="my-content" style="width: 405px; padding: 10px !important;">
<div class="highslide-body">
<div class="text3">
Открыта вакансия бариста в кофейне по адресу:<br>
<span class="email"> Невский пр. 48 (универмаг "ПАССАЖ, 2 этаж")</span><br><br>
Опыт работы не обязателен, обучение на месте.<br>
График работы: <span class="email" style="text-decoration: underline;">выходные и праздничные дни.</span>
<br>
<br>
По всем вопросам:<br>
<span class="email">8-950-047-51-38</span><br>
<span class="email">8-812-570-58-02</span><br>
<br>
<span class="email">Ольга Георгевна</span>
<br>
<br>
<img src="../images/kof/pas_700_06.jpg" width="400" />
</div>
</div>
</div>