
<br><br><br>
<table class="table_kofejni">
<tr>
    <td class="td_kofejni">
    	<a><img src="images/ya/ya_06.png" ></a>
    </td>
    <td class="td_kofejni">
(ТРК "Нептун")<br>
ежедневно: с 10:00 до 21:00<br>
/812/ 331-02-95
    </td>

</tr>
</table>