<a href="images/kof/mar_700_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_01.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_02.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_02.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_09.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_09.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_05.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_05.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_03.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_03.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_04.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_04.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_07.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_07.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_06.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_06.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_08.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_08.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>

<br><br><br>
<table class="table_kofejni">
<tr>
	<td class="td_kofejni">
<a href="/menu"><img src="images/menu.jpg" ></a>
</td>
    <td class="td_kofejni">
<p class="p_kof">Акции:</p>
- <a href="images/future.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery13' } )">"Хочешь узнать будущее?"</a></br>

- <a href="stories/vla_04.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery13' } )">"СОКОМАНИЯ!"</a></br>
- <a href="stories/vla_05.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery13' } )">"Чайник чая в подарок!"</a></br>
- <a href="stories/vla_05.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery13' } )">"Насладитесь европейской кухней"</a>
</br>
</br>
<p class="p_kof">Режим работы:</p>
(ТРК Нептун, 2 этаж)<br>
ежедневно: с 10:00 до 21:00<br><br>
<p class="p_kof">Телефон:</p>
/812/ 331-02-95<br>
<a href="images/ya/ya_06.png" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery13' } )">Расположение кофейни на карте города</a>
    </td>

</tr>
</table>