
<br><br><br>
<table class="table_kofejni">
<tr>
    <td class="td_kofejni">
    	<a><img src="images/ya/ya_07.png" ></a>
    </td>
    <td class="td_kofejni">
(ТРЦ "Форум")<br>
по будням: с 8:00 до 23:00<br>
по выходным: с 10:00 до 23:00<br>
/8-8152/ 58-77-16 
    </td>

</tr>
</table>