
<br><br><br>
<table class="table_kofejni">
<tr>
    <td class="td_kofejni">
        <img src="images/ya/ya_02.png" >
    </td>
    <td class="td_kofejni">
универмаг "ПАССАЖ", 2-ой этаж<br>
понедельник-суббота: <br>с 10:00 до 21:00<br>
воскресенье: <br>с 11:00 до 21:00<br>
/812/ 570-58-02
    </td>

</tr>
</table>