<a href="images/kof/4k_700_01.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_4k_01.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/4k_700_02.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_4k_02.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/4k_700_03.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_4k_03.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/4k_700_04.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_4k_04.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<br><br><br>
<table class="table_kofejni">
<tr>
    <td class="td_kofejni">
        <img src="images/ya/ya_02.png" width="240px" height="250px">
    </td>
    <td class="td_kofejni">
универмаг "ПАССАЖ", 2-ой этаж<br>
понедельник-суббота: <br>с 10:00 до 21:00<br>
воскресенье: <br>с 11:00 до 21:00<br>
/812/ 570-58-02
    </td>

</tr>
</table>