%a.highslide{href: "images/kof/mar_700_01.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/kofejni_mar_01.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/mar_700_02.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/kofejni_mar_02.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/mar_700_09.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/kofejni_mar_09.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/mar_700_05.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/kofejni_mar_05.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/mar_700_03.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/kofejni_mar_03.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/mar_700_04.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/kofejni_mar_04.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/mar_700_07.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/kofejni_mar_07.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/mar_700_08.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/kofejni_mar_08.jpg", title: "Нажмите для увеличения"}

%a.highslide{href: "images/kof/marata_01.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/marata_01_s.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/marata_02.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/marata_02_s.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/marata_03.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/marata_03_s.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/marata_04.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/marata_04_s.jpg", title: "Нажмите для увеличения"}
%a.highslide{href: "images/kof/marata_05.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery06' } )"}
  %img{src: "images/kof/marata_05_s.jpg", title: "Нажмите для увеличения"}
%br
%br
%br
%table.table_kofejni
  %tr
    %td.td_kofejni
      %a{href: "/menu-marata"}
        %img{src: "images/menu.jpg"}
    %td.td_kofejni
      %p.p_kof Акции:
      /
        \- <a href="images/future.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery13' } )">"Хочешь узнать будущее?"</a></br>
        
        \- <a href="stories/vla_04.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery13' } )">"СОКОМАНИЯ!"</a></br>
      \-
      %a.highslide{href: "stories/vla_05.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery13' } )"} "Чайник чая в подарок!"
      \-
      %a.highslide{href: "stories/vla_02.jpg", onclick: "return hs.expand(this, { slideshowGroup: 'gallery13' } )"} "Насладитесь европейской кухней"
      %p.p_kof Режим работы:
      (ТРК Нептун, 2 этаж)
      %br
      ежедневно: с 10:00 до 21:00
      %br
      %br
      %p.p_kof Телефон:
      \/812/ 331-02-95
      %br
      %a.highslide{href: "images/ya/ya_06.png", onclick: "return hs.expand(this, { slideshowGroup: 'gallery13' } )"} Расположение кофейни на карте города