
<a href="images/kof/4k_700_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/kof/kofejni_4k_01.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/4k_700_02.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/kof/kofejni_4k_02.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/4k_700_03.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/kof/kofejni_4k_03.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/4k_700_04.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery01' } )">
<img src="images/kof/kofejni_4k_04.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<br><br><br>
<table class="table_kofejni">
<tr>
    <td class="td_kofejni">
    	<a><img src="images/ya/ya_01.png" ></a>
    </td>
    <td class="td_kofejni">
по будням: с 8:00 до 23:00<br>
по выходным: с 10:00 до 23:00<br>
/812/ 987-91-20 
    </td>

</tr>
</table>