<a href="images/kof/lit_700_01.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_lit_01.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/lit_700_02.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_lit_02.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/lit_700_03.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_lit_03.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/lit_700_04.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_lit_04.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/lit_700_05.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_lit_05.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/lit_700_06.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/kof/kofejni_lit_06.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<br><br><br>
<table class="table_kofejni">
<tr>
    <td class="td_kofejni">
    	<a><img src="images/ya/ya_05.png" width="240px" height="250px"></a>
    </td>
    <td class="td_kofejni">
по будням: с 8:00 до 23:00<br>
по выходным: с 10:00 до 23:00<br>
/812/ 272-82-59 
    </td>

</tr>
</table>