%table.table_kofejni
  %tr
    %td.td_kofejni
      %span{style: "color: red; font-weight: bold; font-size: 16px; "} СКОРО ОТКРЫТИЕ
  %tr
    %td.td_kofejni
      %p.p_kof Адрес:
      г. Санкт-Петербург, Московский пр., д 109, к. 2 ( у м. Московские ворота)