<div style="height:265px;">
<img src="images/ya/ya_02.png" width="250px">
<p style="float: right; ">
универмаг "ПАССАЖ", 2-ой этаж<br>
понедельник-суббота: <br>с 10:00 до 21:00<br>
воскресенье: <br>с 11:00 до 21:00<br>
/812/ 570-58-02
 </P>
</div>
<br>
<a href="images/main_700_07.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/dop_02.jpg" alt="Highslide JS" title="Click to enlarge" width="190px" />
</a>
<a href="images/main_700_13.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/dop_02.jpg" alt="Highslide JS" title="Click to enlarge" width="190px" />
</a>
<a href="images/main_700_20.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/dop_02.jpg" alt="Highslide JS" title="Click to enlarge" width="190px" />
</a>
<a href="images/main_700_05.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/dop_02.jpg" alt="Highslide JS" title="Click to enlarge" width="190px" />
</a>