<a href="images/kof/vlad_700_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
<img src="images/kof/kofejni_vlad_01.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/vlad_700_07.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
<img src="images/kof/kofejni_vlad_07.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/vlad_700_08.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
<img src="images/kof/kofejni_vlad_08.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/vlad_700_09.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
<img src="images/kof/kofejni_vlad_09.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/vlad_700_06.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
<img src="images/kof/kofejni_vlad_06.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/vlad_700_05.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
<img src="images/kof/kofejni_vlad_05.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/vlad_700_09.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
<img src="images/kof/kofejni_vlad_10.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/vlad_700_02.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
<img src="images/kof/kofejni_vlad_02.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/vlad_700_03.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery03' } )">
<img src="images/kof/kofejni_vlad_03.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<br><br><br>
<table class="table_kofejni">
<tr>
    <td class="td_kofejni">
    	<a><img src="images/ya/ya_04.png" ></a>
    </td>
    <td class="td_kofejni">
Круглосуточно<br>
/812/ 712-57-93
    </td>

</tr>
</table>