
<a href="images/main_700_07.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/dop_02.jpg" alt="Highslide JS" title="Click to enlarge" width="190px" />
</a>
<a href="images/main_700_13.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/dop_02.jpg" alt="Highslide JS" title="Click to enlarge" width="190px" />
</a>
<a href="images/main_700_20.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/dop_02.jpg" alt="Highslide JS" title="Click to enlarge" width="190px" />
</a>
<a href="images/main_700_05.jpg" class="highslide" onclick="return hs.expand(this)">
<img src="images/dop_02.jpg" alt="Highslide JS" title="Click to enlarge" width="190px" />
</a>
<br><br><br>
<div style="height:265px;">
<img src="images/ya/ya_01.png" width="250px">
<p style="float: right;">
по будням: с 8:00 до 23:00<br>
по выходным: с 10:00 до 23:00<br>
/812/ 987-91-20 
</P>
</div>