<a href="images/kof/mar_700_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_01.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_02.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_02.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_09.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_09.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_05.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_05.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_03.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_03.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_04.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_04.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_07.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_07.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_06.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_06.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mar_700_08.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery06' } )">
<img src="images/kof/kofejni_mar_08.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>

<br><br><br>
<table class="table_kofejni">
<tr>
    <td class="td_kofejni">
    	<a><img src="images/ya/ya_06.png" ></a>
    </td>
    <td class="td_kofejni">
(ТРК Нептун, 2 этаж)<br>
ежедневно: с 10:00 до 21:00<br>
/812/ 331-02-95
    </td>

</tr>
</table>