%table.table_kofejni
  %tr
    %td.td_kofejni
      %img{src: "images/news/open_soon.jpg", width: "220px"}

  %tr
    %td.td_kofejni
      %p.p_kof Адрес:
      г. Санкт-Петербург, Московский пр., д 109, к. 2 ( у м. Московские ворота)