<a href="images/kof/mur_700_01.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery07' } )">
<img src="images/kof/kofejni_mur_01.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mur_700_02.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery07' } )">
<img src="images/kof/kofejni_mur_02.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>
<a href="images/kof/mur_700_03.jpg" class="highslide" onclick="return hs.expand(this, { slideshowGroup: 'gallery07' } )">
<img src="images/kof/kofejni_mur_03.jpg" alt="Highslide JS" title="Click to enlarge" width="148" height="125px" />
</a>

<br><br><br>
<table class="table_kofejni">
<tr>
    <td class="td_kofejni">
    	<a><img src="images/ya/ya_07.png" ></a>
    </td>
    <td class="td_kofejni">
(ТРЦ Форум)<br>
по будням: с 8:00 до 23:00<br>
по выходным: с 10:00 до 23:00<br>
/8-8152/ 58-77-16 
    </td>

</tr>
</table>