%table.table_kofejni
  %tr
    %td.td_kofejni
    %td.td_kofejni
      %p.p_kof
        Адрес:
      г. Москва, Ярославское шоссе, д 146 к 1
      %br
      (ТЦ "Москва-Ханой")
      %br
      %a.highslide{href: "images/news/moscow.png", onclick: "return hs.expand(this, { slideshowGroup: 'gallery15' } )"} Расположение кофейни на карте города
%br
%br
