<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <script type="text/javascript" src="javascripts/tabs/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="javascripts/highslide/highslide-full.js"></script>
    <!--<script type="text/javascript" src="javascripts/external/jquery-1.6.2.min.js"></script>-->
    
    <!-- jQuery Plugin scripts -->
    <script type="text/javascript" src="javascripts/external/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="javascripts/external/jquery.mousewheel.min.js"></script>

  <script type="text/javascript" src="javascripts/sliderkit/jquery.sliderkit.1.9.2.pack.js"></script> 
    <script type="text/javascript" src="javascripts/sliderkit/jquery.sliderkit.1.9.2.pack.js"></script>   
    <script type="text/javascript" src="javascripts/sliderkit/addons/sliderkit.delaycaptions.1.1.pack.js"></script>
    <script type="text/javascript" src="javascripts/sliderkit/addons/sliderkit.counter.1.0.pack.js"></script>
    <script type="text/javascript" src="javascripts/sliderkit/addons/sliderkit.timer.1.0.pack.js"></script>
    <script type="text/javascript" src="javascripts/sliderkit/addons/sliderkit.imagefx.1.0.pack.js"></script>
    <script type="text/javascript" src="javascripts/tabs/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".photosgallery-vertical").sliderkit({
            autospeed:     100000,
            circular:      true,
            mousewheel:    false,
            shownavitems:  6,
            verticalnav:   true,
            navclipcenter: true,
        });
    });
    </script>
    <script type="text/javascript">
      $(function(){
        // Accordion
        $("#accordion").accordion({ header: "h3" });
        // Tabs
        $('#tabs').tabs();
        //hover states on the static widgets
        $('#dialog_link, ul#icons li').hover(
          function() { $(this).addClass('ui-state-hover'); },
          function() { $(this).removeClass('ui-state-hover'); }
        );
      });
    </script>
<script type="text/javascript">
hs.graphicsDir = '/graphics/';     
hs.transitions = ['expand', 'crossfade'];                 
hs.dimmingOpacity = 0.1;                     
hs.align = 'center';                  
hs.outlineType = 'drop-shadow',
hs.showCredits = false,
hs.fadeInOut = true;
hs.addSlideshow({
  // slideshowGroup: 'group1',
  interval: 3000,
  repeat: false,
  useControls: true,
  fixedControls: true,
  overlayOptions: {
    opacity: 1,
    position: 'bottom center',
    hideOnMouseOut: true
  }

});



</script>

  </head>
  <body>
  <div id="body-bg">
      <%= render 'layouts/header' %>
    <div class="container">
      <div id="left">
        <img src="../images/akcii_02.png" />
      </br>
        <img src="../images/akcii_01.png" />
      </br></br>
        <img src="../images/akcii_02.png" />
      </br>
        <img src="../images/akcii_01.png" />
      </br></br>
        <img src="../images/akcii_02.png" />
      </br>
        <img src="../images/akcii_01.png" />
      </div>

        <%= yield %>

    </div>
    <footer>
    </footer>
  </div>
  </body>
</html>
